.m-banner{height:236px;background-size:auto 236px;}
.m-banner .content{bottom:94px;}


.main{margin:-45px 0 66px 0;}
.main .main-child{position:relative;margin-bottom:15px;background:#fff;box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);}
.main .main-child .main-child-center{padding:22px 20px;}
.main .main-child .head{padding:20px 0;border-bottom:1px solid #cacaca;}
.main .main-child .head h1{text-align: center;color:#000;margin:0;padding:0;}
.main .main-child .head p{text-align: center;font-size:14px;color:#666;margin-top:12px;}
.main .main-child .content{padding:20px 0;line-height: 24px;font-size:14px;color:#666;}
.main .main-child .content p{padding:4px 0;}
.main .main-child .content img{max-width:100%;height:auto;}