
.main .siftings{background:#fff;}
.main .siftings .child1{width:121px;}
.main .siftings .child2{width:92px;}
.main .siftings .child3{width:74px;}
.main .siftings .child4{width:80px;}
.main .siftings .child5{width:110px;}
.main .siftings .child6{width:84px;}
.main .siftings .child7{width:73px;}
.main .siftings .child8{width:105px;}
.main .siftings .child9{width:98px;}
.main .siftings .child10{width:69px;}
.main .siftings .child11{float:inherit !important;width:inherit;}


