.m-banner{height:236px;background-size:auto 236px;}
.m-banner .content{bottom:106px;}
.m-banner .content a{position: absolute;display: block;height:30px;line-height:30px;text-align: right;color:#fff;right: 48px;bottom:0px;top:0px;margin:auto 0;font-size:18px;}
.m-banner .content .banner-pointer{position: absolute;top:0px;bottom:0px;margin:auto 0;right:18px;transition-duration: .3s;-webkit-transition-duration: .3s;}
.m-banner .content:hover .banner-pointer{transform: translateX(8px);-webkit-transform: translateX(8px);}


.main{margin:-46px 0 54px 0;}

.main-content{background:#fff;padding:52px 24px;box-shadow: 0 2px 5px rgba(0,0,0,0.11);-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.11);}
.main-content .bg{position:absolute;top:46px;right:86px;}




.other{margin-top:18px;background:#fff;padding:22px 22px 12px 22px;margin-bottom:54px;box-shadow:0 5px 23px rgba(0,0,0,0.11);-webkit-box-shadow:0 5px 23px rgba(0,0,0,0.11);}
.other:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.other .child{float:left;}
.other .child .child-title{line-height:34px;color:#3f3f3f;margin:0;padding:0;margin-bottom:26px;}
.other .child .child-content:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}

.other .consumtime{width:360px;}
.other .consumtime .process{position:relative;margin-bottom:18px;}
.other .consumtime .process-title{margin-bottom:6px;line-height:22px;font-size:12px;color:#3f3f3f;}
.other .consumtime .process-content{position:relative;overflow:hidden;width:224px;height:16px;background:#efefef;border-radius:16px;-webkit-border-radius:16px;}
.other .consumtime .process-ing{position:absolute;top:0px;bottom:0px;left:0px;border-radius:16px;-webkit-border-radius:16px;}
.other .consumtime .process-ing.process-yellow{background:#fecc00;}
.other .consumtime .process-ing.process-red{background:#ff5337;}
.other .consumtime .process-ing.process-blue{background:#1a9efe;}
.other .consumtime .process-second{margin:0;padding:0;position:absolute;left: 236px;top: 28px;height:16px;line-height:16px;color:#676767;}
.other .recharge{width:264px;}
.other .recharge .child-content{padding-top:10px;}
.other .recharge .recharge-child{width:62px;text-align:center;float:left;margin-right:12px;-webkit-transition-duration: .4s;transition-duration: .4s;}
.other .recharge .recharge-child .title{margin:0px;padding:0px;font-size:12px;padding-top:18px;color:#676767;}
.other .recharge .recharge-child:hover{ transform: translateX(4px);-webkit-transform: translateX(4px);}
.other .download{width:316px;float:right;}
.other .download .download-child{cursor:pointer;float:left;width:158px;text-align:center;}
.other .download .download-child-img{height:65px;line-height:65px;transition-duration: .3s;-webkit-transition-duration: .3s;}
.other .download .download-child-img img{vertical-align: middle;max-height:100%;max-width:100%;}
.other .download .download-child-android .download-child-img{background:#ff5337;border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;}
.other .download .download-child-android .download-child-img:hover{background:#ff2400;}
.other .download .download-child-ios .download-child-img{background:#202020;border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;}
.other .download .download-child-ios .download-child-img:hover{background:#000;}
.other .download .download-child-title{padding:0;margin:0;padding-top:16px;line-height:20px;font-size:12px;color:#676767;}

.other .wapcode{width:316px;text-align:left;float:right;}
.other .wapcode .child-content{padding-top:10px;}
/*.other .wapcode .child-title{margin-bottom:12px;text-align:center;}
.other .wapcode img{height:120px;}*/
.other .wapcode .btn{position:relative;text-align:center;height:48px;line-height:48px;border-radius:4px;-webkit-border-radius:4px;cursor:pointer;}
.other .wapcode .code-btn{margin:0 56px 0 0;background-color:#ff5337;color:#fff;}
.other .wapcode .code{opacity:0; position:absolute;left:50%;margin-left:-84px;bottom:20px;padding:10px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.22);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.22);border-radius:6px;-webkit-border-radius:6px;
transition:bottom .4s ease-out,opacity .4s ease-out;}
.other .wapcode .code .title{line-height:24px;padding:10px 0;font-size:14px;color:#535353;}
.other .wapcode .code .img{width:148px;vertical-align: middle;}
.other .wapcode .code .pointer{position:absolute;bottom:-17px;width:21px;left:50%;margin-left:-10px;}
.other .wapcode .code-btn:hover .code{opacity:1;bottom:64px;z-index:1;}
.other .wapcode .code-child-title{text-align:left;padding:0;margin:0;padding:16px 56px 0 0;line-height:20px;font-size:12px;color:#676767;}

