.main{/* margin-left: 238px; */height:auto!important;}
.main.maincrumb{margin-left:0px;transition-duration: 1s;-webkit-transition-duration: 1s;}
.main .classify{position:relative;height:26px;line-height:26px;padding:25px 0 16px 0;position:relative;z-index:3;*width:100%;}
.main .classify:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .classify-childs{padding-left: 6px;float:left;height:26px;margin-right:20px;}
.main .classify-childs:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .classify-childs .classify-child{display:inline-block;*display:inline;*zoom:1;margin:0 0px;line-height:30px;cursor:pointer;color:#fff;font-size:12px;text-align:center;padding:0 12px;margin-right: -4px;}
.main .classify-childs .classify-child1{border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;}
.main .classify-childs .classify-child2{border-radius:0 3px 3px 0;-webkit-border-radius:0 3px 3px 0;}
.main .classify-childs .classify-child.yellow{background:#ffab1f;}
.main .classify-childs .classify-child.blue{background:#fc393e;}

.main .classify li{position:relative;cursor:pointer;float:left;padding-bottom:14px;
*max-width:120px;}
.main .classify li .title{padding:0 16px;border-radius:2px;-webkit-border-radius:2px;color:#fff;font-size:14px;}
.main .classify li .icon-new{position:absolute;right:-10px;top:-10px;width:32px;height:18px;background-image:url(../images/lottery/icon-new.gif);}
.main .classify.p0-14 li .title{padding:0 14px;}
.main .classify li:hover .title{background:#492c27;}
.main .classify li.on .title{background:#492c27;}
.main .classify li:hover .classify-list{display:block;}
.main .classify .classify-list{display:none;padding:12px 0;background:#fff;position:absolute;top:32px;/* width:160px; */left:50%;margin-left:-80px;border-radius:4px;-webkit-border-radius:4px;box-shadow:2px 0 5px rgba(0,0,0,0.19);-webkit-box-shadow:2px 0 5px rgba(0,0,0,0.19);}
.main .classify .classify-list .classify-list-li{cursor:pointer;padding:4px 12px;white-space:nowrap;}
.main .classify .classify-list .classify-list-li p{display:inline;line-height:18px;font-size:12px;color:#6d6d6d;}
.main .classify .classify-list .classify-list-li:hover{background:#ff2f33;}
.main .classify .classify-list .classify-list-li:hover p{color:#fff;}
.main .classify .classify-list .top{position:absolute;top:-7px;left:0px;right:0px;margin:0 auto;
*left:50%;*margin-left:-3px;}

.main .classify .right{position:relative;height:26px;line-height:26px;float:right;text-align:right;
*position:absolute;*right:-400px;*width:200px;*top:0px;}
.main .classify .right .r-child{cursor:pointer;display:inline-block;*display:inline;*zoom:1;margin-left:10px;}
.main .classify .right .r-child .r-title{color:#fff;font-size:12px;}
.main .classify .right .r-child .r-msg{display:none;text-align:left;padding:10px;position:absolute;top:28px;right:-72px;width:170px;background:#fc393e;border-radius:3px;-webkit-border-radius:3px; box-shadow:0 2px 5px rgba(0,0,0,0.19);-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.19);}
.main .classify .right .r-child .r-msg .pointer{position:absolute;top:-7px;left:0px;right:0px;margin:0 auto;}
.main .classify .right .r-child .r-msg p{font-size:12px;line-height:22px;color:#fff;}
.main .classify .right .r-child .r-msg a{color:#ffb500;}
.main .classify .right .r-child:hover .r-msg{display:block;}
.main .main-content{background:#fff;box-shadow:0 1px 3px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);}
.main .main-content .main-title{position:relative;z-index:1;height:40px;line-height:40px;background:#fafafa;padding:0 26px 0 0;}
.main .main-content .main-title:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-content .main-title .shortcut-font{padding:0 4px 0 20px;color:#676767}
.main .main-content .main-title .shortcut-money{width:156px;height:26px;line-height:26px;font-size:14px;padding:0 6px;border:1px solid #e3e3e3;background:#fff;}
.main .main-content .main-title .shortcut-money.w130 {width:130px;}
.main .main-content .main-title .quick-money{position: absolute;top:0px;left:300px;line-height: 50px;}
.main .main-content .main-title .quick-money img{ vertical-align: middle;}
.main .main-content .main-title .title{position:relative;float:left;color:#454545;font-size:12px;padding-left:26px;}
.main .main-content .main-title .title span{color:#F39718;}
.main .main-content .main-title .right{float:right;color:#454545;font-size:12px;text-align:right;margin-left:12px;}
.main .main-content .main-title .right span{cursor:pointer;color:#454545;margin:0 4px;}
.main .main-content .main-title .right span.on{color:#fc393e;}
.main .main-content .main-title .right span:hover{color:#fc393e;}
.main .main-content .main-title .cl-btn{cursor:pointer;display:inline-block;*display:inline;*zoom:1;background:#ffab1f;margin:0 4px;width:80px;height:30px;line-height: 30px;text-align:center;color:#fff;font-size:12px;border-radius:3px;-webkit-border-radius:3px;}
.main .main-content .main-title .cl-btn.on{background:#e08c00;}
.main .main-content .main-title .cl-btn:hover{background:#e08c00;}
.main .main-content .main-title .buttons {position: absolute;right:0;top:0;}
.main .button-xyeb.button-red{background:#ff2f33;}
.main .button-xyeb.button-gray{background:#bbb;}
.main .button-xyeb.button-red.on,.main .button-xyeb.button-red:hover{background:#de292b;}
.main .button-xyeb.button-gray.on,.main .button-xyeb.button-gray:hover{background:#a5a4a4;}
.main .main-content .demo-title{position:relative;/* height:40px; */line-height:24px;background:#fafafa;border-bottom:1px solid #d8d8d8;padding:8px 26px;}
.main .main-content .demo-title1{z-index:2;background: #ececec;}
.main .main-content .demo-title2{z-index:1;display:none;}
.main .main-content .demo-title3{display:none;}
.main .main-content .demo-title4{display:none;}
.main .main-content .demo-title .inputFile{margin-right:6px;color:#fff;font-size:14px;position:relative;background: #ffab1f;display: inline-block;width: 94px;height: 32px;line-height: 32px;border-radius: 3px;-webkit-border-radius: 3px;text-align: center;border: 0px;cursor: pointer;}
.main .main-content .demo-title .inputFile input{cursor:pointer;position:absolute;top:0px;left:0px;width:100%;height:100%;opacity: 0;}
.main .main-content .demo-title:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-content .demo-title .title{position:relative;float:left;color:#454545;font-size:12px;}
.main .main-content .demo-title .title span{color:#fc393e;}
.main .main-content .demo-title .title .selct-demo{position:relative;display:inline-block;*display:inline;*zoom:1;}
.main .main-content .demo-title .title .selct-demo span{cursor:pointer;}
.main .main-content .demo-title .title .selct-demo .selct-demo-center{display:none;border:1px solid #d8d8d8;line-height:20px;font-size:12px;position:absolute;top:32px;left:-20px;width:120px;padding:12px 8px;background: #fff;}
.main .main-content .demo-title .title .selct-demo:hover .selct-demo-center{display:block;}

/* 幸运28 */
.main .main-content .main-title .right span {display:inline-block;}
.main .main-content .main-title .right img {margin-top: -5px;vertical-align: middle;}
.mt40 { margin-top: 40px; }
.mb15 { margin-bottom: 15px; }
.w100 { width: 100px !important; }
.plr10 { padding: 0 10px; }
.clear:after { content: ''; display: table; clear: both; }
.bt0 { border-top: 0 !important; }
.main .lists { border-top: 1px solid #e3e3e3; }
.main .xyeb .lists { border-top: 0; }
.main .xyeb .lists .lists-title { text-align: center; height: 50px; line-height: 50px; background: #ff2f33; color: #fff; font-size: 16px; }
.main .xyeb .lists .lists-title span { border-left: 1px solid #fff; }
.main .xyeb .lists .lists-title span:first-child { border-left: 0; margin-right: -2px; }
.lists-xyeb-bottom { border-left: 1px solid #ddd; }
.lists-xyeb-bottom .cols-8 { width: 8.223% !important; }
.lists-xyeb-bottom .cols-8 { width: 8.223% !important; }
.lists-xyeb-bottom .cols-83 { width: 83.550% !important; text-align: left; padding-left: 12px; }
.lists-xyeb-bottom .select {background-color: #fff; display: inline-block; min-width: 100px; position: relative; border: 1px solid #ddd; font-size: 14px; padding-left: 3px; height: 36px; line-height: 36px; border-radius: 2px; margin-right: 10px; }
.lists-xyeb-bottom .select .text { padding-left: 21px; }
.lists-xyeb-bottom .select .arrow { position: absolute; right: 0; bottom: 0; top: 0; cursor: pointer; display: inline-block; vertical-align: middle; color: #555; font-size: 16px; background: #eee; width: 34px; text-align: center; }
.lists-xyeb-bottom .select .options {max-height:211px;overflow-y:auto; display: none; position: absolute; width: 100%; border: 1px solid #ddd; left: -1px; background-color: #fff; border-top: 0; z-index: 99; }
.lists-xyeb-bottom .select .options.on { display: block; }
.lists-xyeb-bottom .select .options li { padding: 3px 5px; padding-bottom: 7px; padding-left: 24px; }
.lists-xyeb-bottom .select .options li:hover { background: #eee; }
.lists-xyeb-bottom .inputText {padding-left: 10px; height: 36px !important; line-height: 36px; }
.lists-xyeb-bottom i { font-style: normal; }

.main .lists:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .lists .longhudou{height:290px;line-height:290px;text-align:center;}
.main .lists .longhudou .longhudou-btn,.main .lists .longhudou .daxiao-btn{transition-duration: .3s;-webkit-transition-duration:.3s;background:no-repeat center center;width:176px;height:176px;display:inline-block;*display:inline;*zoom:1; cursor:pointer;vertical-align:middle;}
.main .lists .longhudou .longhudou-btn.long-btn{background-image:url(../images/lottery/long.png);}
.main .lists .longhudou .longhudou-btn.long-btn:hover{background-image:url(../images/lottery/long2.png);}
.main .lists .longhudou .longhudou-btn.long-btn.on{background-image:url(../images/lottery/long2.png);}
.main .lists .longhudou .longhudou-btn.hu-btn{background-image:url(../images/lottery/hu.png);}
.main .lists .longhudou .longhudou-btn.hu-btn:hover{background-image:url(../images/lottery/hu2.png);}
.main .lists .longhudou .longhudou-btn.hu-btn.on{background-image:url(../images/lottery/hu2.png);}
.main .lists .longhudou .longhudou-btn.da-btn{background-image:url(../images/lottery/d.png);}
.main .lists .longhudou .longhudou-btn.da-btn:hover{background-image:url(../images/lottery/d2.png);}
.main .lists .longhudou .longhudou-btn.da-btn.on{background-image:url(../images/lottery/d2.png);}
.main .lists .longhudou .longhudou-btn.xiao-btn{background-image:url(../images/lottery/x.png);}
.main .lists .longhudou .longhudou-btn.xiao-btn:hover{background-image:url(../images/lottery/x2.png);}
.main .lists .longhudou .longhudou-btn.xiao-btn.on{background-image:url(../images/lottery/x2.png);}

.main .lists .longhudou .longhudou-btn.dan-btn{background-image:url(../images/lottery/dd.png);}
.main .lists .longhudou .longhudou-btn.dan-btn:hover{background-image:url(../images/lottery/dd2.png);}
.main .lists .longhudou .longhudou-btn.dan-btn.on{background-image:url(../images/lottery/dd2.png);}
.main .lists .longhudou .longhudou-btn.shuang-btn{background-image:url(../images/lottery/ss.png);}
.main .lists .longhudou .longhudou-btn.shuang-btn:hover{background-image:url(../images/lottery/ss2.png);}
.main .lists .longhudou .longhudou-btn.shuang-btn.on{background-image:url(../images/lottery/ss2.png);}

.main .lists .longhudou .vs{margin:0 54px;    vertical-align: middle;}
.main .lists:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .lists li{position:relative;padding:8px 12px;line-height:14px;
*width:1048px;}
.main .lists li.odd{background:#F8F8F8;}
.main .lists li:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .lists li .l-msg{color:#bcbcbc;font-size:12px;line-height:20px;}
.main .lists li .l-msg.red{color:#fc393e;}
.main .lists li .l-title{position:relative;width:54px;float:left;color:#fc393e;font-size:14px;text-align:left;line-height: 44px;}
.main .lists li .l-title .l-msg{position:absolute;top:34px;left:0px;right:0px;}
.main .lists li .l-mun{width:610px;float:left;text-align:left;}
.main .lists li .l-mun:after{position: relative;clear:both;content:"";}
.main .lists li .l-title + .l-mun{width:554px;}
/* .main .lists li .l-mun .mun{cursor:pointer;background:no-repeat center center;background-position:center top;background-image:url(../images/lottery/m-bg2.png);font-weight:bold;text-align:center;margin:2px 1px;float:left;width:43px;line-height:43px;text-align:center;font-size:20px;color:#575757; transition-duration: .3s;-webkit-transition-duration: .3s;font-family:Arial, Helvetica, sans-serif;border-radius:43px;-webkit-border-radius:43px;} */
.main .lists li .l-mun .mun{cursor:pointer;background:no-repeat center center;background-image:url(../images/lottery/m-bg2.png);font-weight:bold;text-align:center;margin:2px 2px;display:inline-block;*display:inline;*zoom:1;width:43px;height:43px;line-height:43px;text-align:center;font-size:20px;color:#575757; transition-duration: .3s;-webkit-transition-duration: .3s;font-family:Arial, Helvetica, sans-serif;}
.main .lists li .l-mun .mun.long-mun{background-image:url(../images/lottery/m-bg4.png);}
.main .lists li .l-mun .mun .l-msg{font-weight:normal;}
.main .lists li .l-mun .mun:hover{color:#fff;background-image:url(../images/lottery/m-bg2-on.png);}
.main .lists li .l-mun .mun.on{color:#fff;background-image:url(../images/lottery/m-bg2-on.png);}
.main .lists li .l-mun .mun.long-mun:hover{background-image:url(../images/lottery/m-bg4-on.png);}
.main .lists li .l-mun .mun.long-mun.on{background-image:url(../images/lottery/m-bg4-on.png);}
.main .lists li .l-mun2{text-align:center;background:#ECECEC;position:absolute;top:0px;bottom:0px;margin:auto 0;right:10px;width:306px;height:60px;line-height:60px;text-align:center;border-radius:60px;-webkit-border-radius:60px;box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);}
.main .lists li .l-mun2 .mun{cursor:pointer;background:no-repeat center center;background-image:url(../images/lottery/m-bg2.png);text-align:center;margin:0;display:inline-block;*display:inline;*zoom:1;width:43px;height:43px;line-height:43px;text-align:center;font-size:16px;color:#575757;font-family:"榛戜綋","Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"寰蒋闆呴粦","瀹嬩綋";}
.main .lists li .l-mun2 .mun:hover{color:#fff;background-image:url(../images/lottery/m-bg2-on.png);}
.main .lists li .l-mun2 .mun.on{color:#fff;background-image:url(../images/lottery/m-bg2-on.png);}
.main .lists .lists-xyeb:nth-child(2) {border-left: 1px solid #e3e3e3;}
.main .lists-liuhecai, .main .lists-xyeb{text-align:center;}
.main .lists-liuhecai li, .main .lists-xyeb > li{height:50px;line-height:50px;padding:0;border-bottom:1px solid #e3e3e3;}
.main .lists-liuhecai:after , .main .lists-xyeb:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .lists-liuhecai .btn, .main .lists-xyeb .btn{display: inline-block; vertical-align: middle;width:36px;height:36px;line-height:36px;text-align:center;background-image:url(../images/lottery/liuhecai/bg-yellow.png);background-size:36px 36px;background-repeat: no-repeat;font-size:16px;color:#fff;font-weight:bold;}
.lists-xyeb-bottom .select .btn { width: 28px; height: 28px; line-height: 28px; background-size: 28px 28px; vertical-align: top; font-size: 14px; margin-top: 4px; }
.main .lists-liuhecai .btn.btn-add, .main .lists-xyeb .btn.btn-add{background-image:url(../images/lottery/liuhecai/add.png);width:12px;background-position:center center;}
.main .lists-liuhecai .btn.btn-red, .main .lists-xyeb .btn.btn-red{background-image:url(../images/lottery/liuhecai/bg-red.png);}
.main .lists-xyeb .tmbs {background-color:#976DC3;display: inline;border-radius: 25px;color: #fff;padding: 4px 6px;font-size: 13px;}
.main .lists-xyeb .btn.btn-gray{background-image:url(../images/lottery/bg-gray.png);}
.main .lists-liuhecai .btn.btn-green, .main .lists-xyeb .btn.btn-green{background-image:url(../images/lottery/liuhecai/bg-green.png);}
.main .lists-liuhecai .btn.btn-blue, .main .lists-xyeb .btn.btn-blue{background-image:url(../images/lottery/liuhecai/bg-blue.png);}
.main .lists-liuhecai .btn.btn-yellow, .main .lists-xyeb .btn.btn-yellow{background-image:url(../images/lottery/liuhecai/bg-yellow.png);}
.main .lists-liuhecai span, .main .lists-xyeb span{vertical-align: middle;font-size:14px;}
.main .lists-liuhecai .font-red, .main .lists-xyeb .font-red{color:#ff1d1d;}
.main .lists-liuhecai .inputText, .main .lists-xyeb .inputText{width:70%;border:1px solid #e3e3e3;height:20px;line-height:20px;background:#fff;}
.main .cols-blue{background:#fc393e;color:#fff;}
.main .cols-red{background:#ff5555;color:#fff;}
.main .cols-green{background:#08e522;color:#fff;}
.main .cols{float:left;height:100%;width:100%;box-sizing: border-box;}
.main .cols-child:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .cols-child{transition-duration: .3s;-webkit-transition-duration:.3s;}
.main .cols-child.on{background:#fddb1c !important;}
.main .cols-child.on .font-red{color:#fff;}
.main .cols-title{height:65px;line-height: 65px;font-size:13px;color:#b9b9b9;}
.main .cols.cols-no{background: #fff;}
.main .xyeb .lists li.odd .cols.cols-no{background: #F8F8F8;}
.main .cols .cols{border-right:1px solid #e3e3e3;}
.main .cols.cols-75{width:75%;}
.main .cols.cols-70{width:70%;}
.main .cols.cols-60{width:60%;}
.main .cols.cols-50{width:50%;}
.main .cols.cols-55{width:55%;}
.main .cols.cols-40{width:40%;}
.main .cols.cols-30{width:30%;}
.main .cols.cols-33{width:33%;}
.main .cols.cols-34{width:34%;}
.main .cols.cols-18{width:18%;}
.main .cols.cols-25{width:25%;}
.main .cols.cols-20{width:20%;}
.main .cols.cols-15{width:15%;}
.main .cols.cols-10{width:10%;}
.main .cols.cols-inheirt{float: inherit !important;width: inherit;}
.main .buttons{text-align: center;}
.main .button-lhc,.main .button-xyeb{display: inline-block;width:188px;height:54px;line-height: 54px;border-radius:4px;-webkit-border-radius:4px;font-size:20px;margin:36px auto;}
.main .button-xyeb-small{display: inline-block;width:94px;height:28px;line-height: 28px;border-radius:4px;-webkit-border-radius:4px;font-size:16px;    margin: 2px 0;}
.main .button-lhc.button-red{background:#ff2f33;}
.main .button-lhc.button-gray{background:#bbb;}
.main .button-lhc.button-red.on,.main .button-lhc.button-red:hover{background:#de292b;}
.main .button-lhc.button-gray.on,.main .button-lhc.button-gray:hover{background:#a5a4a4;}

.select-lhc{position:absolute;top:117px;right:0px;width:160px;box-sizing: border-box;background: #fff;}
.select-lhc .title{position: absolute;top:8px;left:0px;line-height: 24px;font-size:14px;color:#a9a9a9;}
.select-lhc .select-btns{position: relative;padding-left:14px;}
.select-lhc .select-btns:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.select-lhc .select-btns .btn{cursor:pointer;font-size:13px;width:38px;height:38px;line-height: 38px;text-align:center;margin:0 8px 8px 0;background:#f3f3f3;border:1px solid #e5e5e5;float:left;border-radius:2px;-webkit-border-radius:2px;transition-duration: .3s;-webkit-transition-duration:.3s;}
.select-lhc .select-btns .btn:hover{background:#ff2f33;border:1px solid #ff2f33;color:#fff;}
.select-lhc .select-btns .btn.on{background:#ff2f33;border:1px solid #ff2f33;color:#fff;}
.select-lhc .buttons{padding:0 0 14px 14px;}
.select-lhc .buttons:after{clear:both;content:"";display: block;}
.select-lhc .button{float:left;width:66px;height:61px;line-height: 61px;text-align: center;color:#fff;font-size:16px;border-radius:2px;-webkit-border-radius:2px;margin-right:4px;}
.select-lhc .button.button-red{background:#ff2f33;}
.select-lhc .button.button-gray{background:#bbb;}
.select-lhc .button.button-red.on,.select-lhc .button.button-red:hover{background:#de292b;}
.select-lhc .button.button-gray.on,.select-lhc .button.button-gray:hover{background:#a5a4a4;}
.select-lhc .button.button-selectReset{right:66px;}

.choose{padding:46px 0px 20px 14px;}
.choose .choose-title{text-align:left;position:relative;}
.choose .choose-title span{color:#393939;font-size:12px;}
.choose .choose-title .multiple{color:#FF4944;font-size:12px;padding:0;}
.choose .choose-title .all-multiple{color:#FF4944;}
.choose .choose-title .multiple-select{padding:0 4px;display:inline-block;*display:inline;*zoom:1;}
.choose .choose-title .multiple-select .multiple-btn{padding:10px 2px; vertical-align:middle;cursor:pointer;}
.choose .choose-title .multiple-select .inputText{width:65px;height:26px;border:1px solid #d6d6d6;text-align:center;color:#393939;font-size:12px;}
.choose .choose-title .btnss{display:inline-block;*display:inline;*zoom:1;position: absolute;bottom:0px;top:0px;right:240px;width:410px;text-align: right;}
.choose .choose-title .btn{display:inline-block;*display:inline;*zoom:1;width:82px;height:32px;line-height:32px;border-radius:3px;-webkit-border-radius:3px;text-align:center;border:0px;cursor:pointer;}
.choose .choose-title .btn span{ vertical-align:middle;color:#fff;font-size:14px;}
.choose .choose-title .btn img{ vertical-align:middle;padding-right:10px;}
.choose .choose-title .btn.yellow{background:#ffab1f;}
.choose .choose-title .btn.blue{background:#1993fb;}
.choose .choose-title .btn.gray{background:#696969;}
.choose .choose-content{margin-top:16px;}
.choose .choose-content:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.choose .choose-content .clists{/* box-sizing:border-box; */padding:12px 12px;min-height:80px;float:left;width:660px;background:#f5f5f5;box-shadow:inset 0px 1px 4px rgba(148, 148, 148, 0.5);-webkit-box-shadow:inset 0px 1px 4px rgba(148, 148, 148, 0.5);}
.choose .choose-content .clists li{line-height:24px;}
.choose .choose-content .clists li:hover{background: #E6E6E6;}
.choose .choose-content .clists li.li-titles{margin:12px 0 6px 0;}
.choose .choose-content .clists li:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.choose .choose-content .clists li .li-child{float:left;text-align:left;color:#393939;font-size:12px;}
.choose .choose-content .clists li .li-child input{vertical-align: middle;}
.choose .choose-content .clists li .li-child .inputText{width:28px;height:20px;border:1px solid #cacaca;color:#666;font-size:12px;text-align:center;margin:0 2px;}
.choose .choose-content .clists li .li-child span{vertical-align: middle;}
.choose .choose-content .clists li .li-child a{cursor:pointer;vertical-align: middle;color:#666;border-bottom:1px solid #666;}
.choose .choose-content .clists li .li-child a:hover{color:#000;}
.choose .choose-content .clists li .li-no{width:80px;}
.choose .choose-content .clists li .li-title{width:192px;}
.choose .choose-content .clists li .li-money{width:118px;}
.choose .choose-content .clists li .li-strip{width:48px;}
.choose .choose-content .clists li .li-multiple{width:92px;}
.choose .choose-content .clists li .li-addmoney{width:158px;}
.choose .choose-content .clists li .li-close{cursor:pointer;transition-duration: .3s;-webkit-transition-duration:.3s;margin-top: 6px;width:14px;height:14px;line-height:14px;text-align:center;background:#b9b9b9;}
.choose .choose-content .clists li .li-close img{cursor:pointer;vertical-align:middle;    margin-top: -3px;}
.choose .choose-content .clists li .li-close:hover{background:#fc393e;}
.choose .choose-content .btns{float:right;width:236px;}
.choose .choose-content .btns .btn{position:relative;float:left;margin-left:6px;width:104px;height:104px;border-radius:6px;border-radius:6px;cursor:pointer;}
.choose .choose-content .btns .btn .time{position:absolute;bottom:4px;left:0px;right:0px;color:#fff;font-size:12px;text-align:center;}
.choose .choose-content .btns .btn .btn-image{line-height:36px;text-align:center;position:absolute;top:18px;left:0px;right:0px;height:36px;}
.choose .choose-content .btns .btn .btn-image img{ vertical-align:middle;}
.choose .choose-content .btns .btn .btn-title{font-size:18px;position:absolute;top:56px;left:0px;right:0px;line-height:26px;text-align:center;color:#fff;}
.choose .choose-content .btns .btn.yellow{background:#ffab1f;}
.choose .choose-content .btns .btn.red{background:#fc393e;}
.choose .choose-content .btns .btn.blue{background:#1993fb;}
.choose .choose-content1 .clists{max-height:200px;overflow-y:scroll;}
.choose .choose-content2 .li-contents{height:200px;overflow-y:scroll;}
.choose  .choose-foot{position:relative;line-height:28px;padding:10px 0;}
.choose  .choose-foot select{font-size:12px;color:#393939;}
.choose  .choose-foot .select{display:inline-block;*display:inline;*zoom:1;margin-right:12px;text-align:left;cursor:pointer;position:relative;width:38px;height:24px;line-height:24px;border:1px solid #d8d8d8;}
.choose  .choose-foot .select .select-title{padding:0 6px;color:#666;font-size:12px;}
.choose  .choose-foot .select .select-pointer{position:absolute;top:0px;bottom:0px;right:8px;margin:auto 0;}
.choose  .choose-foot .select .select-list{display:none;position:absolute;left:-1px;top:24px;right:0px;min-width:38px;max-height:142px;border:1px solid #e8e8e8;background:#fff;z-index:1;border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;}
.choose  .choose-foot .select .select-list li{transition-duration: .3s;-webkit-transition-duration:.3s;cursor:pointer;padding:4px 12px; box-sizing:content-box;line-height:20px;color:#484848;font-size:12px;}
.choose  .choose-foot .select .select-list li:hover{background:#EAEAEA;}
.choose  .choose-foot .select .select-list li.on{background:#EAEAEA;}
.choose  .choose-foot .choost-fonts{position:absolute;right:140px;top:10px;text-align:right;}
.choose  .choose-foot span{font-size:12px;color:#393939;}
.choose  .choose-foot .money{color:#FF534F;}
.choose  .choose-foot .allmoney{color:#FF534F;}
.choose  .choose-foot .big{font-size:14px;}
.choose  .choose-foot .slider-m{color:#ababab;font-size:12px;padding-right:10px;}
#slider{margin:0 10px 0 20px;position:relative;top:4px;width:200px;display:inline-block;*display:inline;*zoom:1;}

.main .titles{background:#f5f5f5;border-bottom:1px solid #e3e3e3;height:36px;line-height:36px;}
.main .titles:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .titles .child{cursor:pointer;padding:0 20px;color:#6B6C73;font-size:15px;float:left;}
.main .titles .child.on{color:#fff;    background: #fc393e;}
.main .titles .more{float:right;color:#6B6C73;font-size:14px;}
.main .titles .more span{ vertical-align:middle; }
.main .titles .more input{ vertical-align:middle; }


.main .main-msg{margin-top:14px;margin-bottom:50px;background:#ffffff;box-shadow:0 1px 3px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);}
.main .main-msg .titles{position:relative;background:#f5f5f5;border-bottom:1px solid #e3e3e3;height:36px;line-height:36px;}
.main .main-msg .titles:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-msg .titles .child{cursor:pointer;padding:0 20px;color:#6B6C73;font-size:15px;float:left;}
.main .main-msg .titles .child.on{color:#fff;    background: #ff2f33;}
.main .main-msg .titles a{position:absolute;top:0px;bottom:0px;right:20px;height:20px;line-height:20px;color:#666;margin:auto 0;font-size:12px;}
.main .main-msg .contents:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-msg .contents .line:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-msg .contents .line{margin:0px;border-bottom:1px solid #e3e3e3;
*width:auto;}
.main .main-msg .contents .child{box-sizing:border-box;float:left;border-right:1px solid #e3e3e3;min-height:33px;line-height:33px;text-align:center;font-size:13px;color:#999999;}
.main .main-msg .contents .child.no{border-right:0px;}
.main .main-msg .contents .child .yellow{color:#ffcc00;}
.main .main-msg .contents .child .red{color:#ff1000;}
.main .main-msg .contents .child .green{color:#2bea00;}
.main .main-msg .contents .child .blue{color:#00a9ff;}

.main .main-msg .contents .child1{width:158px;}
.main .main-msg .contents .child2{width:110px;}
.main .main-msg .contents .child3{width:110px;}
.main .main-msg .contents .child4{width:82px;}
.main .main-msg .contents .child5{width:82px;}
.main .main-msg .contents .child6{width:110px;}
.main .main-msg .contents .child7{width:160px;}
.main .main-msg .contents .child8{width:78px;}
.main .main-msg .contents .child9{width:inherit;float:inherit !important;}
.main .main-msg .contents .no-msg{padding:36px 0;text-align:center;color:#3a3a3a;text-align:center;padding:36px 0;}

/* 新增玩法-五球总和 */
.main .lists li.sum .l-title{width: 65px;}
.main .lists li.sum .l-title + .l-mun{width: 851px;}
.main .lists li.sum .l-mun .mun{float: left;width: 25%;margin: 8px 0;text-align: left;padding-left: 20px;box-sizing: border-box;-webket-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;background-image:none;}
.main .lists li.sum .l-mun .mun .mun-block{display: inline-block;width: 108px;height: 44px;background-image:url(../images/lottery/m-bg5.png);text-align:center;}
.main .lists li.sum .l-mun .mun .mun-block:hover{color:#fff;background-image:url(../images/lottery/m-bg5-on.png);}
.main .lists li.sum .l-mun .mun .mun-block.on{color:#fff;background-image:url(../images/lottery/m-bg5-on.png);}
.main .lists li.sum .l-mun .mun .mun-block:hover em{color: #fff;}
.main .lists li.sum .l-mun .mun .mun-block em{font-size: 13px;padding-left: 0;}
.main .lists li.sum .l-mun .mun em{font-weight: normal;font-size: 13px;font-style: normal;color: #fc393e;padding-left: 15px;}
.main .lists li.sum .l-mun .mun.on .mun-block{background-image: url(../images/lottery/m-bg5-on.png);}
.main .lists li.sum .l-mun .mun.on .mun-block em{color: #fff;}
.main .lists li.sum .l-mun .mun:hover{background-image:none !important;}

/* 新增玩法-斗牛,前三总和 /*/
.main .lists li.douniu .l-mun, .main .lists li.qszh .l-mun {width: 100%;}
.main .lists li.qszh .l-mun .mun{margin: 7px 11px;position:relative;}
.main .lists li.qszh .l-mun .mun .tip-peilv{display:none;position: absolute;left: 28px;bottom: -18px;min-width: 92px;height: 25px;line-height: 25px;font-weight: normal;font-size: 12px;z-index: 999;background: #fff;border-radius: 3px;color: #fc393e;border:1px solid #e7e7e7;}
.main .lists li.qszh .l-mun .mun:hover .tip-peilv{display:block;}
.main .lists li.douniu .l-mun .mun{width: 20%;padding-left: 0;background-image: none;}

