.main-bg{position:fixed;top:0px;left:0px;width:100%;height:100%;background:#fff repeat-x center top;background-size:auto 100%;}

.main .container{overflow:hidden;}
.main .logo{padding:28px 0 34px 0;margin:0 auto;display:block;}
.main .main-container{position:relative;}
.main .main-container:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .main-container .left{position:relative;width:707px;height:570px;background:#fff;margin:0 auto;}
.main .main-container .left .head{height:80px;line-height:80px;background:#0090ff;border-bottom:1px solid #016fa9;}
.main .main-container .left .head p{padding-left:32px;color:#fff;font-size:44px;}
.main .main-container .left .content{padding:12px 32px;color:#000;}
.main .main-container .left .content h2{padding:12px 0;}
.main .main-container .left .content a{color:#0090ff;}