.main .container{background:#fff; box-sizing: border-box;    min-height: 660px;}
.main .ntitle{line-height:42px;font-size:20px;color:#000;border-bottom: 1px solid #ccc;}
.main .more{top: 24px;color:#6f6f6f;position:absolute;right:22px;height:10px;line-height:20px;text-align: right;font-size:12px;}
 .main ul{padding:10px 0;}
.main li{position:relative;height:24px;line-height:24px;}
.main li .title{transition-duration: .3s;-webkit-transition-duration:.3s;margin-right:100px;font-size:16px;color:#353557;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.main li .time{position:absolute;top:0px;bottom:0px;margin:auto 0;right:22px;text-align:right;height:24px;line-height:24px;color:#5d5d7f;font-size:14px;}
.main li:hover .title{color:#ff4444;}
#userAnnounceList {padding:10px 15px;}

