
.mainbg{position:fixed;top:0px;left:0px;right:0px;bottom:0px;}
.mainbg .content{position:absolute;top:0px;left:0px;width:100%;height:100%;background:no-repeat center center;background-size:cover;}

.time{position:relative;z-index:3;margin-top:7.2%;text-align:center;font-size:45px;line-height:42px;font-family:"Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";color:#fff;text-align:center;}
.datetime{position:relative;z-index:3;line-height:14px;color:#959ac8;font-size:12px;font-family:Arial, Helvetica, sans-serif;text-align:center;}
.main-copyright{margin-top:160px;position:relative;z-index:1;line-height:20px;font-size:12px;color:#fff;text-align:center;}
.main-copyright a{color:#fff;}
.main{position:relative;z-index:3;width:364px;margin:0 auto;height:100%;margin-top:50px;}
.main .login{overflow:hidden;position:relative;z-index:4;background:#fff;padding:44px 0 34px 0;border-radius:3px;-webkit-border-radius:3px;box-shadow:0 5px 11px rgba(0,0,0,0.16);-webkit-box-shadow:0 5px 11px rgba(0,0,0,0.16);}
.main .login .login-top{position:absolute;top:0px;height:12px;left:0px;right:0px;background:#fff;border-radius:2px 2px 0 0;-webkit-border-radius:2px 2px 0 0;}
.main .login .login-top img{position:absolute;left:0px;right:0px;height:12px;bottom:-12px;margin:0 auto;
	*left:50%;*margin-left:-10px;}
.main .login .logo{padding-bottom:36px;text-align:center;}
.main .login .line{margin:4px auto;width:300px;position:relative;height:56px;line-height:56px;background:#f4f4f4;border-radius:56px;-webkit-border-radius:56px;}
.main .login .line img{position:absolute;top:0px;bottom:0px;left:10px;margin:auto 0;
*top:12px;}
.main .login .line .code{left:inherit;right:20px;
*left:200px;*top:16px;}
.main .login .line .inputText{font-size:17px;color:#9b9dad;position:absolute;left:64px;top:0px;bottom:0px;margin:auto 0;height:48px;line-height:1;background:none;border:0px;}
.main .login .line .inputText::-webkit-input-placeholde{font-size:17px;font-family:Arial, Helvetica, sans-serif;color:#9b9dad;}
.main .login .forget{padding:8px 0;width:300px;line-height:20px;text-align:right;color:#fff;font-size:12px;margin:0 auto;}
.main .login .forget a{color:#fff;}
.main .login .button{cursor:pointer;position:relative;margin:0 auto;margin-top:34px;width:307px;height:56px;line-height:56px;text-align:center;font-size:20px;color:#fff;}
.main .login .msg{font-size:14px;color:#666;text-align: center;}
.main .login .msg.red{color:red;}

.main .login .logo{animation:logo .6s ease-in-out .8s both;-webkit-animation:logo .6s ease-in-out .8s both;}
.main .login .login-container{animation:bottom 1s ease-in-out 0s both;-webkit-animation:bottom 1s ease-in-out 0s both;}
@keyframes logo{
0%{ transform:scale(0); opacity:0;}
90%{ transform:scale(1.1); }
100%{transform:scale(1);opacity:1;}
}
@-webkit-keyframes logo{
0%{ -webkit-transform:scale(0); opacity:0;}
90%{ -webkit-transform:scale(1.1); }
100%{-webkit-transform:scale(1);opacity:1;}
}
@keyframes top{
0%{ transform:translateY(-100%);}
100%{transform:translateY(0px);}
}
@-webkit-keyframes top{
0%{ -webkit-transform:translateY(-100%);}
100%{-webkit-transform:translateY(0px);}
}
@keyframes bottom{
0%{ transform:translateY(100%);}
100%{transform:translateY(0px);}
}
@-webkit-keyframes bottom{
0%{ -webkit-transform:translateY(100%);}
100%{-webkit-transform:translateY(0px);}
}



