.mainbg{position:fixed;top:0px;left:0px;right:0px;bottom:0px;}
.mainbg .content{position:absolute;top:0px;left:0px;width:100%;height:100%;background:no-repeat center center;background-size:cover;}

.main{text-align:center;position:absolute;top:50%;left:0px;right:0px;width:332px;min-height:484px;margin:-272px auto 0 auto;padding:32px 32px 28px 32px;background:#fff;box-shadow:0 3px 16px rgba(0,0,0,0.15);-webkit-box-shadow:0 3px 16px rgba(0,0,0,0.15);}
.main .logo{width:auto;max-width:100%;max-height:56px;margin-bottom:6px;}
.main .main-title{line-height:36px;margin-bottom:60px;font-size:26px;color:#000;}
.main .main-title2{line-height:32px;font-size:18px;color:#000;}
.main .main-content{padding:30px 0 70px 0;line-height:29px;font-size:13px;color:#000;}
.main .button{width:100%;height:60px;line-height:60px;border-radius:4px;-webkit-border-radius:4px;}
.main .refresh{line-height:22px;font-size:12px;color:#000;margin-top:20px;}
.main .smallcode{position: absolute;top:6px;right:6px;z-index:1;cursor: pointer;}
.main .smallcode-tips{position: absolute;right:-220px;top:0px;background: #fff;padding:18px;width:160px;min-height:224px;box-shadow:0 3px 16px rgba(0,0,0,0.15);-webkit-box-shadow:0 3px 16px rgba(0,0,0,0.15);
transition-duration: .3s;-webkit-transition-duration: .3s; opacity:0;transform: translateX(-20%);-webkit-transform: translateX(-20%);}
.main .smallcode:hover+.smallcode-tips{opacity:1;transform: translateX(0%);-webkit-transform: translateX(0%);}
.main .smallcode-tips .pointer{position: absolute;left:-12px;top:22px;}
.main .smallcode-tips .code{max-width:100%;width:100%;}
.main .smallcode-tips .code-title{line-height:24px;margin-top:24px;font-size:17px;color:#000;text-align:center;}
.main .smallcode-tips .code-info{line-height:18px;font-size:12px;color:#000;text-align:center;}


