.main .container{padding-bottom:40px;}
.main1 .container{padding-bottom:0px;}
.main .siftings{background:#fff;}
.main .siftings .child1{width:126px;}
.main .siftings .child2{width:126px;}
.main .siftings .child3{width:532px;}
.main .siftings .child4{width:186px;}
.main .siftings .child5{width:129px;}

.main .siftings .siftings-titles{border-bottom:1px solid #e3e3e3;background:#f6f6f6;
*min-height:50px;}
.main .siftings .siftings-titles:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .siftings .siftings-titles .child{ position:relative;box-sizing:border-box;float:left;height:50px;line-height:50px;text-align:center;font-size:13px;color:#8a8a8a;}
.main .siftings .siftings-titles .child.no{border-right:0px;}
.main .siftings .siftings-titles .child .c-title{position:absolute;line-height:24px;bottom:2px;left:0px;right:0px;text-align:center;font-size:13px;color:#000;}
.main .siftings .siftings-titles .child .c-icon{position:absolute;bottom:25px;left:0px;right:0px;margin:0 auto;
*left:50%;*margin-left:-8px;}

.main2 .siftings .siftings-titles{padding:12px 30px;}
.main3 .siftings .siftings-titles{height:40px;padding:20px 30px;}
.main4 .siftings .siftings-titles{padding:20px 30px;}
.main .siftings .siftings-titles .line{float:left;height:40px;line-height:40px;}
.main .siftings .siftings-titles .line .line-title{width:60px;}
.main .siftings .siftings-titles .line .line-content{background:#fff;}
.main .siftings .siftings-titles .line1{width:314px;}
.main .siftings .siftings-titles .line1 .line-content{width:214px;}
.main .siftings .siftings-titles .line2{width:680px;}
.main .siftings .siftings-titles .line2 .line-content{width:382px;}
.main .siftings .siftings-titles .nav-btn{background:#ff4444;color:#fff;font-size:15px;cursor:pointer;text-align:center;float:left;width:116px;text-align:center;height:32px;line-height:32px;border:1px solid red;border-radius:32px;-webkit-border-radius:32px;}


.main .siftings .siftings-titles .infos{line-height:24px;color:#5B5B5B;font-size:13px;}

.main .siftings .siftings-titles .infos:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .siftings .siftings-titles .infos .send{width:200px;float:left;}
.main .siftings .siftings-titles .infos .send span{color:#FDAB0F;}
.main .siftings .siftings-titles .infos .time{width:200px;float:left;}
.main .siftings .siftings-titles .infos .btns{float:right;text-align:right;}
.main .siftings .siftings-titles .infos .btns a{color:#000;margin-left:20px;}

.main .siftings .siftings-content .siftings-line{border-bottom:1px solid #ececec;
*min-height:44px;}
.main .siftings .siftings-content .siftings-line:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .siftings .siftings-content .siftings-line .child{transition-duration: .3s;-webkit-transition-duration:.3s;text-align:center;box-sizing:border-box;float:left;color:#000;font-size:13px;height:44px;line-height:44px;}
.main .siftings .siftings-content .siftings-line .child .title{font-size:14px;width:90%;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.main .siftings .siftings-content .siftings-line .child4{color:#a8a8a8;}
.main .siftings .siftings-content .siftings-line.on .child{color:#ff4444;}
.main .siftings .siftings-content .siftings-line.on .child .title{color:#ff4444;}
.main .siftings .siftings-content .siftings-line:hover{background:#f6f6f6;}
.main2 .siftings .siftings-content{padding:32px 30px;border-bottom:1px solid #e5e5e5;text-align: left;}
.main2 .siftings .siftings-content p{font-size:14px;color:#000;line-height:24px;padding:4px 0;}

.main .siftings .siftings-btns{padding-top:20px;text-align:left;padding-left:34px;}
.main .siftings .siftings-btns .btn{width:80px;height:36px;line-height:normal;margin-right:6px;border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:12px;cursor:pointer;border:0px;}
.main .siftings .siftings-btns .btn.red{background:#ff4444;}
.main .siftings .siftings-btns .btn.blue{background:#0090ff;}
.main .siftings .siftings-btns .btn.gray{background:#6a6a6a;}

.main .siftings .siftings-send{padding:20px 30px;}
.main .siftings .siftings-send .title{line-height:24px;font-size:13px;color:#000;padding-bottom:10px;}
.main .siftings .siftings-send .send-text{position:relative;width:100%;height:100px;box-shadow:inset 0px 1px 4px rgba(148, 148, 148, 0.5);-webkit-box-shadow:inset 0px 1px 4px rgba(148, 148, 148, 0.5);}
.main .siftings .siftings-send .send-text .textArea{position:absolute;top:14px;left:16px;width:994px;height:66px;color:#666;font-size:14px;border:0px;}

.alert-msg .line{position:relative;margin-bottom:12px;line-height:40px;font-size:13px;}
.alert-msg .line:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.alert-msg .line .line-content{width:200px;}
.alert-msg .line .line-content.line-list{width:288px;height:122px;overflow-y:scroll;}
.alert-msg .line .line-content.line-list .line-text {position: relative;left:initial;right:initial;padding:12px;}
.alert-msg .line .line-content.line-list ul li{line-height:24px;color:#666;font-size:14px;}
.alert-msg .line .line-btn{line-height:40px;height:40px;text-align:center;transition-duration: .3s;-webkit-transition-duration:.3s;cursor:pointer;font-size:18px;color:#fff;font-family:"Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";float:left;background:#ff4444;border:0px;width:80px;border-radius:3px;-webkit-border-radius:3px;}
.alert-msg .line .line-btn:hover{background:#e03939;}