
.main .siftings{background:#fff;}
.main .siftings .child1{width:156px;}
.main .siftings .child2{width:83px;}
.main .siftings .child3{width:102px;}
.main .siftings .child4{width:83px;}
.main .siftings .child5{width:99px;}
.main .siftings .child6{width:86px;}
.main .siftings .child7{width:95px;}
.main .siftings .child8{width:46px;}
.main .siftings .child9{width:66px;}
.main .siftings .child10{width:73px;}
.main .siftings .child11{width:73px;}
.main .siftings .child12{width:51px;}
.main .siftings .child13{float:inherit !important;width:inherit;}
