
.main .siftings .child1{width:120px;}
.main .siftings .child2{width:120px;}
.main .siftings .child3{width:120px;}
.main .siftings .child4{width:100px;}
.main .siftings .child5{width:100px;}
.main .siftings .child6{width:100px;}
.main .siftings .child7{width:100px;}
.main .siftings .child8{width:100px;}
.main .siftings .child9{float:inherit !important;width:inherit;}

