.main .siftings .siftings-titles .child{ width:20%;
*width:16%;}
.main .siftings .siftings-content .siftings-line .child{width:20%;}

.main .siftings .siftings-titles2 .child{ width:16%;
*width:16%;}
.main .siftings .siftings-content2 .siftings-line .child{width:16%;}

