.main .siftings .siftings-setting{padding:14px 0px 14px 40px;}
.main .siftings .siftings-setting .child .child-content.long{width:146px;}
.line-content .select-list{min-width:84px;left:-1px;top:33px;}
.main .siftings{background:#fff}
.main .siftings .child1{width:180px;}
.main .siftings .child2{width:84px;}
.main .siftings .child3{width:130px;}
.main .siftings .child4{width:110px;}
.main .siftings .child5{width:95px;}
.main .siftings .child6{width:44px;}
.main .siftings .child7{width:74px;}
.main .siftings .child8{width:57px;}
.main .siftings .child9{width:134px;}
.main .siftings .child10{width:60px;}
.main .siftings .child11{width:66px;}
.main .siftings .child12{float:inherit !important;width:inherit;}


