.main .head .m{float:right;text-align:right;color:#393939;font-size:12px;line-height:34px;}
.main .head .m .blue{color:#2C80FF;}
.main .model{position:relative;background:#f9f9f9;padding:22px 18px;
*min-height:58px;}
.main .model:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .model .child{padding:0 32px;float:left;text-align:center;border-right:1px solid #d0d2d9;border-left:1px solid #fff;}
.main .model .child.no-right{border-right:0px;}
.main .model .child.no-left{border-left:0px;}
.main .model .child .child-img{height:34px;line-height:34px;}
.main .model .child .child-img img{ vertical-align:middle;}
.main .model .child .child-title{line-height:18px;margin-top:6px;}
.main .model .child .child-title span{font-size:12px;color:#000;vertical-align:middle;}
.main .model .child .child-title img{padding:0 0 0 6px;vertical-align:middle;}
.line-money{padding-top:40px;}
.line-money-child{float:left;width:100%;padding:20px 0;}
.line-money-child:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.line-money-child .child{transition-duration: .3s;-webkit-transition-duration:.3s;float:left;margin: 0 2px;font-size:14px;color:#000;background:#d4e4ff;width:78px;height:42px;line-height:42px;text-align:center;border-radius:3px;-webkit-border-radius:3px;cursor:pointer;}
.line-money-child .child:hover{background:#2C80FF;color:#fff;}

.change-icon{position:absolute;top:20px;left:526px;}
.change-btn{transition-duration: .3s;-webkit-transition-duration:.3s; cursor:pointer;position:absolute;top:20px;left:596px;width:56px;height:56px;line-height:56px;text-align:center;background:#4493ff;border-radius:3px;-webkit-border-radius:3px;}
.change-btn img{ vertical-align:middle;
*margin-top:12px;}
.change-btn:hover{background:#1577FD;}
