html,body{min-width:800px;background:#fff;}


.alert-msgss{display:block;padding-bottom:10px;position:relative;margin:0 auto;min-height:initial;background:#fff;}
.alert-msgss .msg-head{position:relative;height:60px;line-height:60px;background:#ff4444;}
.alert-msgss .msg-head p{color:#fff;font-size:18px;text-align:center;}
.alert-msgss .msg-head .close{position:absolute;top:0px;bottom:0px;right:20px;margin:auto 0;cursor:pointer;}
.alert-msgss .msg-content{padding:26px 28px; box-sizing:border-box;}
.alert-msgss .msg-content .msg-title{line-height:26px;color:#676767;font-size:14px;padding-bottom:16px;}
.alert-msgss .msg-content .info{line-height:24px;padding:14px 0;color:#676767;font-size:13px;}
.alert-msgss .msg-content .info .blue{color:#006CFF;}
.alert-msgss .btn{text-align:center;margin:20px 0;}
.alert-msgss .btn .inputBtn{transition-duration: .3s;-webkit-transition-duration:.3s;cursor:pointer;font-size:18px;color:#fff;font-family:"Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";background:#ff4444;border:0px;width:170px;height:49px;border-radius:3px;-webkit-border-radius:3px;}
.alert-msgss .btn .inputBtn:hover{background:#e03939;}

.alert-msgss .msg-list{margin:8px 0;}
.alert-msgss .msg-list .msg-list-title{line-height:24px;font-size:16px;color:#000;font-weight: bold;}
.alert-msgss .msg-list ul{border:1px solid #e3e3e3;overflow-y:scroll;height:120px;}
.alert-msgss .msg-list .msg-list-li.msg-list-t{background:#f9f9f9;}
.alert-msgss .msg-list .msg-list-li{border-bottom:1px solid #e3e3e3;}
.alert-msgss .msg-list .msg-list-li:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.alert-msgss .msg-list .msg-list-li .child{ box-sizing:border-box;float:left;border-right:1px solid #e3e3e3;height:32px;line-height:32px;text-align:center;font-size:13px;color:#8a8a8a;} 
.alert-msgss .msg-list .msg-list-li .child1{width:240px;}
.alert-msgss .msg-list .msg-list-li .child2{width:240px;}
.alert-msgss .msg-list .msg-list-li .child3{width:80px;}
.alert-msgss .msg-list .msg-list-li .child4{width:80px;}
.alert-msgss .msg-list .msg-list-li .child5{float:inherit !important;width:inherit;border-right:0;}


.alert-msgss{width:800px;}
.alert-msgss2 .child1{width:182px;}
.alert-msgss2 .child2{width:80px;}
.alert-msgss2 .child3{width:80px;}
.alert-msgss2 .child4{width:180px;}
.alert-msgss2 .child5{width:80px;}
.alert-msgss2 .child6{width:100px;}
.alert-msgss2 .child7{float:inherit !important;width:inherit;}


.alert-msgss1 .child1{width:144px;}
.alert-msgss1 .child2{width:220px;}
.alert-msgss1 .child3{width:60px;}
.alert-msgss1 .child4{width:60px;}
.alert-msgss1 .child5{width:120px;}
.alert-msgss1 .child6{width:73px;}
.alert-msgss1 .child7{float:inherit !important;width:inherit;}

.alert-msgss .siftings-titles{border-bottom:1px solid #e3e3e3;border-top:1px solid #e3e3e3;background:#f9f9f9;}
.alert-msgss .siftings-titles:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.alert-msgss .siftings-titles .child{ box-sizing:border-box;float:left;border-right:1px solid #e3e3e3;height:40px;line-height:40px;text-align:center;font-size:13px;color:#8a8a8a;}
.alert-msgss .siftings-titles .child.no{border-right:0px;}
.alert-msgss .siftings-content{min-height:45px;line-height:45px;text-align:center;color:#393939;font-size:12px;}
.alert-msgss .siftings-content .siftings-line{border-bottom:1px solid #ececec;}
.alert-msgss .siftings-content .yellow{color:#FFA800;}
.alert-msgss .siftings-content .blue{color:#006CFF;}
.alert-msgss .siftings-content .red{color:red;}
.alert-msgss .siftings-content .siftings-line:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.alert-msgss .siftings-content .siftings-line .child{box-sizing:border-box;float:left;}
.alert-msgss .msg-content ul:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.alert-msgss .msg-content .msg-li{width:50%;float:left;line-height:24px;color:#666;}
.alert-msgss .msg-content .red{color:red;}
.alert-msgss .msg-content .mun{display:inline-block;*display:inline;*zoom:1;width:24px;height:24px;line-height:24px;text-align:center;color:#454B7C;font-size:14px;background: no-repeat center top;background-size:cover;background-image: url(../images/lottery/m-bg.png);}
.alert-msgss .s-btn{cursor:pointer;width:62px;height:28px;text-align: center;color:#fff;color:#fff;font-family:"Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";background:#ff4444;border:0px;}
.alert-msgss .s-btn:hover{background:#e03939;}