.banner{position:relative;height:638px;z-index:1;}
.banner .content{position:absolute;top:0px;left:0px;width:100%;height:100%;background:no-repeat center bottom;background-size:cover;}
.banner .msg{position:absolute;top:0px;bottom:0px;margin:auto 0;color:#fff;text-align:left;width:100%;margin:0 auto;}
.banner .msg .container{overflow: hidden;}
.banner .msg .title1{margin-top:104px;}
.banner .msg .title2{margin-top:40px;line-height: 30px;font-size:18px;}

.banner .imgs{position:absolute;top:0px;height:719px;overflow: hidden;right:0px;margin:auto 0;width:50%;}
.banner .imgs.imgs1{text-align: left;}
.banner .imgs.imgs1 img{margin-top:156px;}
.banner .imgs.imgs2{text-align: left;}
.banner .imgs.imgs2 img{margin-left: 148px;margin-top:75px;}
.banner .nav{position:absolute;height:12px;line-height:12px;bottom:26px;left:0px;right:0px;text-align:center;}
.banner .nav .child{cursor:pointer;margin:0 3px;display: inline-block;background:#fff;width:12px;height:12px;border-radius:12px;-webkit-border-radius:12px;opacity:0.33;}
.banner .nav .child.on{opacity:1;}

.banner .buttons{position:absolute;bottom:140px;left:0px;right:0px;margin:0 auto; }
.banner .buttons:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.banner .buttons .btn{position:relative;font-size:18px;width:228px;text-align:center;height:62px;line-height:62px;float:left;border-radius:4px;-webkit-border-radius:4px;cursor:pointer;transition-duration: .3s;-webkit-transition-duration: .3s;}
.banner .buttons .code-btn{background-color:#00df25;color:#fff;margin-right:10px;}
.banner .buttons .url-btn{background-color:#0ac2f3;color:#fff;}
.banner .buttons .btn .t{position: absolute;left:0px;right:0px;top:-30px;height:22px;line-height: 22px;font-size:12px;text-align:center;}
.banner .buttons .code{opacity:0; position:absolute;left:50%;margin-left:-84px;bottom:20px;padding:10px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.22);-webkit-box-shadow:0 0 10px rgba(0,0,0,0.22);border-radius:6px;-webkit-border-radius:6px;
transition:bottom .4s ease-out,opacity .4s ease-out;}
.banner .buttons .code .title{line-height:24px;padding:10px 0;font-size:14px;color:#535353;}
.banner .buttons .code .img{width:148px;vertical-align: middle;}
.banner .buttons .code .pointer{position:absolute;bottom:-17px;width:21px;left:50%;margin-left:-10px;}
.banner .buttons .code-btn:hover .code{opacity:1;bottom:76px;z-index:1;}
.banner .buttons .btn:hover{background:#0aabd6;}
.banner .buttons .code-btn:hover{background:#00bb1f;}

.banner .content.in{animation:fadeIn 2s  ease-in-out 0s  both;-webkit-animation:fadeIn 2s  ease-in-out 0s  both;}
.banner .content.out{animation:fadeOut 2s  ease-in-out 0s both;-webkit-animation:fadeOut 2s  ease-in-out 0s both;}
.banner .msg.in .title1{animation:fadeInLeft 1s  ease-in-out .6s  both;-webkit-animation:fadeInLeft 1s  ease-in-out .6s  both;}
.banner .msg.in .title2{animation:fadeInLeft 1s  ease-in-out 1s  both;-webkit-animation:fadeInLeft 1s  ease-in-out 1s  both;}
.banner .msg.out .title1{animation:fadeOutLeft .6s  ease-in-out 0s  both;-webkit-animation:fadeOutLeft .6s  ease-in-out 0s  both;}
.banner .msg.out .title2{animation:fadeOutLeft .6s  ease-in-out .4s  both;-webkit-animation:fadeOutLeft .6s  ease-in-out .4s  both;}
.banner .imgs.in img{animation:fadeInRight 1s  ease-in-out .4s  both;-webkit-animation:fadeInRight 1s  ease-in-out .4s  both;}
.banner .imgs.out img{animation:fadeOutRight 1s  ease-in-out 0s  both;-webkit-animation:fadeOutRight 1s  ease-in-out 0s  both;}


.wapnav{position: relative;height:370px;background:#fff;}
.wapnav .container{height:100%;overflow: hidden;}
.wapnav .container:after{content:"";clear:both;}
.wapnav .child{width:33.33%;box-sizing: border-box;text-align: center;padding:76px 52px 0;float:left;
  -webkit-animation-duration: 1s;animation-duration: 1s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;}
.wapnav .child .child-icon{width:104px;height:104px;margin:0 auto;border-radius:104px;-webkit-border-radius:104px;line-height: 104px;text-align: center;transition-duration: .3s;-webkit-transition-duration: .3s;}
.wapnav .child .child-icon img{vertical-align: middle;transition-duration: .3s;-webkit-transition-duration: .3s;}
.wapnav .child .child-title{line-height: 32px;margin:26px 0 4px;font-size:20px;color:#232323;}
.wapnav .child .child-info{line-height: 24px;font-size:13px;color:#9a9a9a;}
.wapnav .child1 .child-icon{
  background:#377ce6;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#377ce6),color-stop(100%,#56c4fe));
  background: -webkit-linear-gradient(top,#377ce6 0,#56c4fe 100%);
  background: linear-gradient(to bottom,#377ce6 0,#56c4fe 100%);
}
.wapnav .child2 .child-icon{
  background:#f64f4f;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f64f4f),color-stop(100%,#fe9191));
  background: -webkit-linear-gradient(top,#f64f4f 0,#fe9191 100%);
  background: linear-gradient(to bottom,#f64f4f 0,#fe9191 100%);
}
.wapnav .child3 .child-icon{
  background:#69c83a;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#69c83a),color-stop(100%,#0f6094));
  background: -webkit-linear-gradient(top,#69c83a 0,#b9f39c 100%);
  background: linear-gradient(to bottom,#69c83a 0,#b9f39c 100%);
}

.wapnav .child:hover .child-icon{box-shadow: 0 0 6px rgba(0,0,0,0.2);-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);}
.wapnav .child:hover .child-icon img{ transform: scale(1.1);-webkit-transform: scale(1.1);}
.wapnav .child:hover .child-title{color:#ff4044;}
.wapnav.in .child1{animation-name: fadeInLeft;-webkit-animation-name: fadeInLeft;animation-delay: 0s;-webkit-animation-delay: 0s;}
.wapnav.in .child2{animation-name: fadeInLeft;-webkit-animation-name: fadeInLeft;animation-delay: .4s;-webkit-animation-delay:  .4s;}
.wapnav.in .child3{animation-name: fadeInLeft;-webkit-animation-name: fadeInLeft;animation-delay:  .8s;-webkit-animation-delay:  .8s;}


.maininfo{background:#f5f5f5;height:858px;overflow: hidden;}
.maininfo .title{padding-top:100px;text-align:center;}
.maininfo .title h2{line-height: 58px;color:#000;font-size:43px;font-weight: 100;}
.maininfo .title p{line-height: 28px;color:#000;font-size:14px;}
.maininfo .content{height:580px;position: relative;}
.maininfo .content .p{position: absolute;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.maininfo .content .p-mac{top:58px;left:0px;right:0px;margin:0 auto;}
.maininfo .content .p-macbook{bottom:6px;left:-34px;}
.maininfo .content .p-ipad{bottom:13px;right:-1px;}
.maininfo .content .p-iphone{bottom:27px;right:6px;}
.maininfo .content .p-title{bottom:346px;right:-42px;}

.maininfo.in .content .p-mac{
  animation-name: fadeInRight;-webkit-animation-name: fadeInRight;
  animation-delay: .4s;-webkit-animation-delay: .4s;
}
.maininfo.in .content .p-macbook{
  animation-name: fadeInRight;-webkit-animation-name: fadeInRight;
  animation-delay: 0s;-webkit-animation-delay:  0s;
}
.maininfo.in .content .p-ipad{
  animation-name: fadeInRight;-webkit-animation-name: fadeInRight;
  animation-delay:  .8s;-webkit-animation-delay:  .8s;
}
.maininfo.in .content .p-iphone{
  animation-name: fadeInRight;-webkit-animation-name: fadeInRight;
  animation-delay:  1.2s;-webkit-animation-delay:  1.2s;
}
.maininfo.in .content .p-title{
  animation-name: fadeInRight;-webkit-animation-name: fadeInRight;
  animation-delay:  1s;-webkit-animation-delay:  1s;
}