html,body{background:#e8eaf0;margin:0;font-size:14px;padding:0px;font-family:"Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
body{min-width:1110px;}
img{border:0px;}
ul,li,p{margin:0px;padding:0px;}
a{text-decoration: none;}
ul,li{list-style-type:none;}
input,button,select,textarea{ outline:none;}
textarea{resize:none;}
input[type="button"], input[type="submit"], input[type="reset"],input[type="text"] {-webkit-appearance: none;padding:0;margin:0;font-weight:normal;}


.loading-bg{position:fixed;z-index:19;top:0px;left:0px;right:0px;bottom:0px;background:#33375e; opacity:0.2;display:none;}
.loading{position:fixed;z-index:20;top:0px;left:0px;right:0px;bottom:0px;display:none;}
.loading .logo{position:absolute;top:0px;bottom:0px;left:0px;right:0px;margin:auto;
*width:76px;*left:50%;*top:50%;*margin:-20px 0 0 -38px; /*ie7*/}
.loading .title{position:absolute;top:110px;bottom:0px;left:0px;right:0px;margin:auto;height:20px;line-height:20px;text-align:center;font-size:16px;color:#fff;
*width:20px;*left:50%;*top:50%;*margin:60px 0 0 -10px; /*ie7*/}
.loading .title img{ vertical-align:middle;margin:0 6px;}
.loading .title span{ vertical-align:middle;}

.header{height:106px;line-height:106px;background:#ff4444;padding-left:42px;border-bottom:1px solid red;}
.header .title{font-size:16px;color:#fff;}
.header .title span{padding-right:24px;}

.classify{position:relative;z-index:1;padding:20px 42px;background:#fff;border-top:1px solid #e0e0e0; box-shadow:0 0 3px rgba(0,0,0,0.25);-webkit-box-shadow:0 0 3px rgba(0,0,0,0.25);}
.classify:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.classify .child{color:#1f1f21;font-size:13px;float:left;padding-right:26px;height:24px;line-height:24px;}
.classify .child .inputCheck{vertical-align:middle;width:13px;height:13px;background:#fff;border:1px solid #d9d9d9;}
.classify .child span{ vertical-align:middle;}
.classify .child a{color:#3B45A7;vertical-align:middle;cursor: pointer;}
.classify .child.on a{color:#ffba00;}
.classify .child:hover a{color:#ffba00;}


.main:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .lists-liuhecai{text-align:center;}
.main .lists-liuhecai li{height:50px;line-height:50px;padding:0;border-bottom:1px solid #e3e3e3;}
.main .lists-liuhecai:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .lists-liuhecai .btn{display: inline-block; vertical-align: middle;width:36px;height:36px;line-height:36px;text-align:center;background-image:url(../images/lottery/liuhecai/bg-yellow.png);background-size:36px 36px;background-repeat: no-repeat;font-size:16px;color:#fff;font-weight:bold;}
.main .lists-liuhecai .btn.btn-add{background-image:url(../images/lottery/liuhecai/add.png);width:12px;background-position:center center;}
.main .lists-liuhecai .btn.btn-red{background-image:url(../images/lottery/liuhecai/bg-red.png);}
.main .lists-liuhecai .btn.btn-green{background-image:url(../images/lottery/liuhecai/bg-green.png);}
.main .lists-liuhecai .btn.btn-blue{background-image:url(../images/lottery/liuhecai/bg-blue.png);}
.main .lists-liuhecai .btn.btn-yellow{background-image:url(../images/lottery/liuhecai/bg-yellow.png);}
.main .lists-liuhecai .btn.btn-gray{background-image:url(../images/lottery/liuhecai/bg-gray.png);}
.main .lists-liuhecai .btn.btn-fadered{background-image:url(../images/lottery/bg-fadered.png);}
.main .lists-liuhecai span{vertical-align: middle;font-size:14px;}
.main .lists-liuhecai .font-red{color:#ff1d1d;}
.main .lists-liuhecai .inputText{width:70%;border:1px solid #e3e3e3;height:20px;line-height:20px;background:#fff;}
.main .cols-blue{background:#0090ff;color:#fff;}
.main .cols-red{background:#ff5555;color:#fff;}
.main .cols-green{background:#08e522;color:#fff;}
.main .cols{float:left;height:100%;width:100%;box-sizing: border-box;}
.main .cols-child:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.main .cols-child{transition-duration: .3s;-webkit-transition-duration:.3s;}
.main .cols-child.on{background:#fff600 !important;}
.main .cols-title{height:65px;line-height: 65px;font-size:13px;color:#929292;}
.main .cols .cols{border-right:1px solid #e3e3e3;}
.main .cols.cols-70{width:70%;}
.main .cols.cols-60{width:60%;}
.main .cols.cols-50{width:50%;}
.main .cols.cols-55{width:55%;}
.main .cols.cols-40{width:40%;}
.main .cols.cols-30{width:30%;}
.main .cols.cols-33{width:33%;}
.main .cols.cols-34{width:34%;}
.main .cols.cols-18{width:18%;}
.main .cols.cols-25{width:25%;}
.main .cols.cols-20{width:20%;}
.main .cols.cols-15{width:15%;}
.main .cols.cols-10{width:10%;}
.main .cols.cols-inheirt{float: inherit !important;width: inherit;}

.btn2{margin-top:24px;transition-duration: .3s;-webkit-transition-duration:.3s;cursor:pointer;font-size:18px;color:#fff;font-family:"Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";background:#ff5555;border:0px;width:170px;line-height:49px;border-radius:3px;-webkit-border-radius:3px;margin:20px auto;text-align: center;}
.btn2:hover{background:#ce2020;}