.main{margin-top:40px;overflow:hidden;}
.main-child{background:#fff;padding:27px 34px;border-radius: 16px;-webkit-border-radius: 16px;margin:23px 32px 0px 32px;box-shadow: 0 2px 5px rgba(0,0,0,0.23);-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.23);}
.main-child .child-content{border-bottom:1px solid #d9d9d9;}
.main-child .child-content .title{line-height: 66px;color:#000;font-size:50px;}
.main-child .child-content .time{line-height: 48px;color:#9d9d9d;font-size:30px;}
.main-child .child-content .thumb{margin:22px auto;}
.main-child .child-content .thumb img{width:100%;height:auto;}
.main-child .child-content .info{line-height: 56px;padding-bottom:20px;color:#9d9d9d;font-size:38px;}
.main-child .child-more{position: relative;padding-top:24px;line-height: 68px;}
.main-child .child-more span{color:#ff4444;font-size:44px;vertical-align: middle;}
.main-child .child-more img{position: absolute;top:26px;bottom:0px;right:0px;margin:auto 0;}