.header .header-title{width:520px;margin:0 auto;}
.header .header-title:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.header .header-title-content{display:-webkit-box;overflow:hidden;margin-top:24px;position:relative;height:84px;line-height:84px;border:2px solid #ffffff;border-radius:12px;-webkit-border-radius:12px;transition-duration: .5s;-webkit-transition-duration: .5s;}
.header .header-title-child{width:50%;color:#fff;font-size:36px; height:86px;display:block;opacity:1;border-right:1px solid #fff;box-sizing: border-box;}
.header .header-title-child.on{color:#df333a;background:#ffffff;}


.main{position: relative;transition-duration: .5s;-webkit-transition-duration: .5s;}
.main.insetData{}
.main .line{background: #fff;position: relative;border-bottom:1px solid #c2c2c2;padding:40px 30px;}
.main .line:after{position: absolute;top:0px;bottom:0px;margin:auto 0px;right:30px;width:24px;height:43px;content: "";background:url(../images/icon/icon-pointer.png);}
.main .line.insetData{display: none;}
.main .line .line-headimg{position: absolute;top:0px;bottom:0px;margin:auto 0;left:30px;width:144px;height:144px;border-radius: 144px;-webkit-border-radius:144px;overflow: hidden;}
.main .line .line-headimg img{width:100%;height:100%;}
.main .line .line-content{margin:0 60px 0 190px;}
.main .line .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line .line-content h2{float:left;width:100%;line-height: 52px;color:#000;font-size:44px;}
.main .line .line-content p{float:left;width:100%;line-height: 54px;color:#717171;font-size:40px;}

