.header .header-title{width:520px;margin:0 auto;}
.header .header-title:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.header .header-title-content{display:-webkit-box;overflow:hidden;margin-top:24px;position:relative;height:84px;line-height:84px;border:2px solid #ffffff;border-radius:12px;-webkit-border-radius:12px;transition-duration: .5s;-webkit-transition-duration: .5s;}
.header .header-title-child{width:50%;color:#fff;font-size:36px; height:86px;display:block;opacity:1;border-right:1px solid #fff;box-sizing: border-box;}
.header .header-title-child.on{color:#df333a;background:#ffffff;}


.main{padding:10 0 0 0;margin-bottom:14px;background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.main .head{height:124px;line-height:124px;border-bottom:1px solid #d3d5e0;overflow:hidden;}
.main .head:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .head .child{float:left;}
.main .head .title{text-align: left;font-size:44px;color:#000;width:30%;}
.main .head .title img{height:66px;vertical-align: middle;margin-right:18px;}
.main .head .periods{color:#636363;font-size:40px;text-align: left;width:45%;}
.main .head .bet{font-size:42px;text-align: right;color:#ff403d;width:25%;}
.muns{padding:22px 0 24px 0;overflow:hidden}
.muns:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.muns .lhc-item{display:inline-block;text-align: center;}
.muns .lhc-item .lhc-item-title{font-size:40px;}
.muns .lhc-item .lhc-item-title.lhc-green{color:#21c128;background: none;border:0;}
.muns .lhc-item .lhc-item-title.lhc-blue{color:#128bf1;background: none;border:0;}
.muns .lhc-item .lhc-item-title.lhc-red{color:#ed4e4e;background: none;border:0;}
.muns .lhc-item .lhc-item-title.lhc-yellow{color:#ffca12;background: none;border:0;}
.muns .mun.and{height:108px;line-height:108px;color:#222 !important;width: auto; padding: 0 5px;}
.muns .mun{position:relative;width:94px;height:94px;line-height:94px;text-align:center;float:left;border-radius:94px;-webkit-border-radius:94px;color:#fff !important;font-size:48px;margin:6px 2px;}
.muns .lhc-item .mun {margin-bottom: 12px;}
.muns .dice{width:100px;margin-right:20px;}
.main .list{border-top:1px solid #eaebf0;font-size:40px;padding:20px 0 14px 0;overflow:hidden;}
.main .list:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .list span{display: inline-block;line-height:60px;height:60px;}
.main .list .title{color:#6c6d74;width:400px;}
.main .list .mun{width:42px;text-align:center;margin-right:4px;}
.lottery-dynamic .content{padding-bottom:0px;}
.lottery-dynamic .line{padding:0;border-bottom:1px solid #eaebf0;line-height: 94px;}
.lottery-dynamic .line .child1{height:94px;line-height: 94px;text-align: left;color:#6c6d74;font-size:38px;}