

.main{padding:10 0 0 0;margin-bottom:14px;background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}

.head{padding:38px 0 52px 0;position:relative;}
.head .logo{position:absolute;top:40px;left:0px;width:156px;text-align:left;}
.head .logo img{max-width:108px;height:auto;}
.head .right{padding-left:160px;}
.head .right .periods{line-height:48px;}
.head .right .title{font-size:42px;color:#000;margin-right:12px;}
.head .right .time{font-size:38px;color:#a8a8a8;}
.head .muns{padding:24px 0 0 0;overflow:hidden}
.head .muns .dice{margin-right:12px;}

.main-title{margin:42px 0 12px 0;line-height:56px;height:56px;position:relative;}
.main-title .title{color:#d2d3d9;font-size:46px;}
.main-title .right{position:absolute;right:0px;top:0px;}
.main-title .right:before{color:#b9b9b9}

.list li{position:relative;padding:28px 0;overflow:hidden;border-bottom: 1px solid #ccc;}
.list .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.list .left{width:416px;float:left;}
.list .left .title{line-height:94px;font-size:38px;}
.list .left .time{line-height:40px;font-size:38px;color:#a8a8a8;}
.list .muns{width:600px;float:right;}
.list .muns-small{padding-top:26px;}
.list .muns-dice{padding:0px;}
