.modal{-webkit-animation-name: fadeInUp;animation-name: fadeInUp;}
.modal.out{-webkit-animation-name: fadeOutUp;animation-name: fadeOutUp;}
/*.header{-webkit-animation-name: fadeInDown;animation-name: fadeInDown;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.nav-bar{-webkit-animation-name: fadeInUp;animation-name: fadeInUp;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
*/
.alert{-webkit-animation-name: fadeInDown;animation-name: fadeInDown;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}

.tip .tip-content{-webkit-animation-name: fadeInUp;animation-name: fadeInUp;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.tip .tip-content.out{-webkit-animation-name: fadeOutUp;animation-name: fadeOutUp;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}


.animated{-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.animated.infinite {-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;}
.animated.hinge {-webkit-animation-duration: 2s;animation-duration: 2s;}
/*fadeIn*/
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
/*fadeInDown*/
@-webkit-keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeInDown {
  from {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}
}
/*fadeInUp*/
@-webkit-keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeInUp {
  from {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}to {opacity: 1;-webkit-transform: none;transform: none;}
}
/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeInLeft {
  from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none;}
}
/*fadeInLeft*/
@-webkit-keyframes fadeInLeft08 {
  from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  to {opacity: .8;-webkit-transform: none;transform: none;}
}
@keyframes fadeInLeft08 {
  from {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  to {opacity: .8;-webkit-transform: none;transform: none;}
}
/*fadeInRight*/
@-webkit-keyframes fadeInRight {
  from {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeInRight {
  from {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  to {opacity: 1;-webkit-transform: none;transform: none;}
}
/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  to {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeOutLeft {
  to {opacity: 0;-webkit-transform: translate3d(-100%, 0, 0);transform: translate3d(-100%, 0, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
/*fadeOutRight*/
@-webkit-keyframes fadeOutRight {
  to {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeOutRight {
  to {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
/*fadeOutRight*/
@-webkit-keyframes fadeOutRight08 {
  to {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  from {opacity: .8;-webkit-transform: none;transform: none;}
}
@keyframes fadeOutRight08 {
  to {opacity: 0;-webkit-transform: translate3d(100%, 0, 0);transform: translate3d(100%, 0, 0);}
  from {opacity: .8;-webkit-transform: none;transform: none;}
}


/*fadeOutDown*/
@-webkit-keyframes fadeOutDown {
  to {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeOutDown {
  to {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
/*fadeOutUp*/
@-webkit-keyframes fadeOutUp {
  to {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
@keyframes fadeOutUp {
  to {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);transform: translate3d(0, 100%, 0);}
  from {opacity: 1;-webkit-transform: none;transform: none;}
}
/*zoomIn*/
@-webkit-keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  50% {opacity: 1;}
}
@keyframes zoomIn {
  from {opacity: 0;-webkit-transform: scale3d(.3, .3, .3);transform: scale3d(.3, .3, .3);}
  50% {opacity: 1;}
}
/*rotate*/
@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(-360deg);transform:rotate(-360deg);}
  100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes rotate {
  from {-webkit-transform:rotate(-360deg);transform:rotate(-360deg);}
  100% {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
/*flash*/
@-webkit-keyframes flash {
  from { opacity:0.2; }
  50% {opacity:1;}
  100% {opacity:0.2;}
}
@keyframes flash {
  from { opacity:0.2; }
  50% {opacity:1;}
  100% {opacity:0.2;}
}
/*donwup*/
@-webkit-keyframes donwup {
  from {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
  50% {opacity:1;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);}
  100% {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
}
@keyframes donwup {
  from {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
  50% {opacity:1;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0);}
  100% {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
}
/*updown*/
@-webkit-keyframes updown {
  from {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
  50% {opacity:1;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
  100% {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
}
@keyframes updown {
  from {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
  50% {opacity:1;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0);}
  100% {opacity:0.4;-webkit-transform:translate3d(0, 0%, 0);transform:translate3d(0, 0%, 0);}
}