.header .icon{margin: 0 16px;}
.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main .titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .titles{padding:36px 0;font-size:30px;color:#8a8a8a;text-align:center;}
.main .line{padding:26px 0;font-size:30px;color:#000;text-align:center;border-top:1px solid #dfe1eb;}
.main .line.gray{background:#f7f7f7;border-bottom:1px solid #dfe1eb;}
.main .child{float:left;}
.main .child p{line-height:30px;}
.main .child1{width:228px;}
.main .child2{width:228px;}
.main .child3{width:228px;}
.main .child4{width:228px;}
.main .child5{width:160px;}
.main .child6{width:200px;}

.main .child1, .main .child2, .main .child3, .main .child4{word-wrap: break-word;}

.lottery-classify{display:none;position:fixed;top:130px;left:0px;right:0px;background:#fff;z-index:91;}
.lottery-classify .container{overflow-x:scroll;overflow-y:hidden;}
.lottery-classify .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content{padding:42px 0;}
.lottery-classify .clist{display:none;}
.lottery-classify .child{float:left;color:#000;margin:6px 12px 6px 0;font-size:36px;height:75px;line-height:75px;text-align:center;}
.lottery-classify .child.color-blue{color:#fff !important;}
.lottery-classify .child.color-red{color:#fff !important;}
.lottery-classify .child.no{opacity: 0.4;}
.lottery-classify .child p{padding:0 18px;}
.lottery-classify-list{border-top:1px solid #dbdce3;padding:12px 0;}
.lottery-classify-list .list-line{padding:24px 0;line-height:87px;border-bottom:1px dashed #c2c2c2;}
.lottery-classify-list .list-line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-title{margin-right:30px;color:#a5a5a5;font-size:32px;float:left;width:102px;text-align:right;}
.lottery-classify-list .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-content{float:left;width:876px;}
.lottery-classify.lottery-classify1{width:360px;left:initial;right:0px;}
.lottery-classify.lottery-classify1 .child{display:block;float:none;margin:12px 0;}
.nav-bar{z-index:89;}

.consume_report_detail .main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.consume_report_detail .main:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.consume_report_detail .main-child{border-bottom:1px solid #d2d6e4;border-right:1px solid #d2d6e4;text-align:center;width:33.33%;float:left;padding:32px 8px 20px;box-sizing:border-box;}
.consume_report_detail .main-child .child-value{color:#ff3c3c;font-size:58px;line-height:58px;word-wrap: break-word;}
.consume_report_detail .main-child .child-title{color:#8a8a8a;font-size:32px;line-height:42px;padding:12px 0;}
