.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main-child{border-bottom:1px solid #d2d6e4;border-right:1px solid #d2d6e4;text-align:center;width:33.33%;float:left;padding:32px 0 20px 0;box-sizing:border-box;}
.main-child .child-value{color:#ff3c3c;font-size:58px;line-height:58px;}
.main-child .child-title{color:#8a8a8a;font-size:32px;line-height:42px;padding:12px 0;}

