/*.lottery-dynamic .child1{width:288px;}
.lottery-dynamic .child2{width:480px;}
.lottery-dynamic .child3{width:260px;}*/

.lottery-dynamic .child1{width:390px;}
.lottery-dynamic .child2{width:306px;}
.lottery-dynamic .child3{width:382px;}

.lottery-child .child-content .content {width: 910px;text-align: center;}
.lottery-child .child-head.first-block .content{width:100%;text-align:center;}

.lottery-classify-list{padding-top:0;}
.lottery-classify-list .line-content{width:825px;}

.lottery-child .child-content .mun.bigbtn{width:auto;font-size: 54px;padding: 0 30px;}
.lottery-child .child-content .content.first-block{width:95%;}

