
.lottery-dynamic .child span{color:#fff;padding:4px 8px 6px 8px;font-size:32px;border-radius:3px;-webkit-border-radius:3px;}
.lottery-dynamic .child span.child-small{background:rgb(243, 195, 105);}
.lottery-dynamic .child span.child-big{background:#f8a21c;}
.lottery-dynamic .child span.child-odd{background:rgb(121,127,255);}
.lottery-dynamic .child span.child-even{background:#5b6099;}
.lottery-dynamic .child1{width:320px;}
.lottery-dynamic .child2{width:240px;}
.lottery-dynamic .child3{width:120px;}
.lottery-dynamic .child4{width:400px;}
