/*.lottery-dynamic .child1{width:288px;}
.lottery-dynamic .child2{width:480px;}
.lottery-dynamic .child3{width:260px;}*/

.lottery-dynamic .child1{width:390px;}
.lottery-dynamic .child2{width:306px;}
.lottery-dynamic .child3{width:382px;}
/* 新增玩法-cqssc-前三总和、斗牛、五球总和 */
.lottery-child.qszh .child-content .content{width: 100%;}
.lottery-child.qszh .child-content .mun{margin: 13px 11px;color: #333;border: 1px solid #e7e7e7;font-size: 58px;}
.lottery-child.qszh .child-content .mun2{border: 1px solid #e7e7e7;position: relative;}
.lottery-child.qszh .child-content .mun2 .range, .lottery-child.wqzh .child-content .mun2 .range{position: absolute;top: 12px;width: 100%;font-size: 23px;color: #ff3c3c;}
.lottery-child.qszh .child-content .mun2.on .range, .lottery-child.wqzh .child-content .mun2.on .range{color: #fff;}
.lottery-child.m20-18 .child-content .mun2{margin: 20px 18px;}
.lottery-child.m20-18 .child-content .mun2.ml35{margin-left: 35px;}
.lottery-child.wqzh .child-content .title{line-height: 50px;text-align: center;width: 112px;margin-top: 35px;}
.lottery-child.wqzh .child-content .mun2{position: relative;}