.main-nav{display:-webkit-box;position:relative;z-index:1;background:#fff;padding:22px 0;box-shadow: 0 2px 6px rgba(0,0,0,0.2);-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);}
.main-nav .child{width:33.33%;border-right:1px solid #e7e7e7;text-align:center;box-sizing: border-box;}
.main-nav .child .child-icon{height:56px;line-height:56px;text-align: center;}
.main-nav .child .child-icon:after{display: block;width:100%;height:100%;content:"";}
.main-nav .child .child-title{color:#000;line-height: 40px;font-size:36px;}
.main-nav .child.all-lottery .child-icon:after{background:url(../images/icon/icon-shop.png) no-repeat center;}
.main-nav .child.hight-lottery .child-icon:after{background:url(../images/icon/icon-clock.png) no-repeat center;}
.main-nav .child.low-lottery .child-icon:after{background:url(../images/icon/icon-clock2.png) no-repeat center;}

.main-nav .child.on .child-title{color:#ff3434;}
.main-nav .child.all-lottery.on .child-icon:after{background:url(../images/icon/icon-shop-on.png) no-repeat center;}
.main-nav .child.hight-lottery.on .child-icon:after{background:url(../images/icon/icon-clock-on.png) no-repeat center;}
.main-nav .child.low-lottery.on .child-icon:after{background:url(../images/icon/icon-clock2-on.png) no-repeat center;}



.main{margin:0 0 36px 0;display:none;}
.main.on{display:block;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line{background:#fff;position:relative;padding:32px 32px 24px 32px;border-bottom:1px solid #d5d5d5;min-height: 168px;}
.main .line:hover{background:#efefef;}
.main .line .lottery-icon{position: absolute;left:32px;top:0px;bottom:0px;margin:auto 0;width:208px;height:168px;}
.main .line .lottery-icon img{width:166px;}
.main .line .line-content{margin:0 130px 0 204px;overflow: hidden;}
.main .line .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line .line-content .lottery-title{line-height: 58px;color:#000;font-size:44px;}
.main .line .line-content .lottery-mun{line-height: 64px;padding:12px 0;font-size:50px;}
.main .line .line-content .lottery-mun:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line .line-content .lottery-mun span{float:left;font-weight: bold;margin-right:30px;}
.main .line .line-content .lottery-timeout{line-height: 42px;font-size:30px;color:#949494;overflow:hidden;}
.main .line .line-content .lottery-timeout:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line .line-content .lottery-timeout span{float:left;font-size:30px;}
.main .line .line-content .lottery-timeout span.time{float:right;}
.main .line .line-content .lottery-periods{position: absolute;top:32px;right:130px;height:58px;text-align: right;line-height: 58px;font-size:34px;}
.main .line .line-right{position: absolute;top:0px;bottom:0px;right:32px;margin:auto 0;}
.main .line .lottery-status{line-height: 40px;position: absolute;top:30px;left:0px;right:0px;text-align:center;display: none;z-index:1;}
.main .line .lottery-status span{background:#cccccc;color:#fff;padding:4px 8px;border-radius:4px;-webkit-border-radius:4px;font-size:28px;}

.main.main-block{position:relative;border-bottom:1px solid #d6d6d6;}
.main.main-block:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main.main-block .line{text-align:center;float:left; box-sizing: border-box; width:33.33%;height:420px;border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;}
.main.main-block a:nth-child(odd) .line{background:#f8f8f8;}
.main.main-block a:nth-child(3n) .line{border-right:0px;}
.main.main-block .line .lottery-icon{top:62px;left:0px;right:0px;margin:0 auto;text-align: center;}
.main.main-block .line .lottery-icon img{width:100%;}
.main.main-block .line .line-content{margin:254px auto 0 auto;}
.main.main-block .line .line-content .lottery-mun{display: none;}
.main.main-block .line .line-content .lottery-periods{display: none;}
.main.main-block .line .line-content .lottery-timeout span{display:none;}
.main.main-block .line .line-content .lottery-timeout span.time{float: none;display:block;}
.main.main-block .line .line-right{display: none;}
.main.main-block .line .lottery-status{display: block;}