.lottery .lottery-bar .bar.liuhecai-bar{height:100px;line-height:100px;background: #7c7c7c !important;padding:23px 32px;}
.lottery .lottery-bar .bar.liuhecai-bar .btn{float:right;height:100px;line-height:100px;margin-left:12px;}
.lottery .lottery-bar .bar.liuhecai-bar .btn span{vertical-align: baseline;}
.lottery .lottery-bar .bar.liuhecai-bar .btn img{vertical-align: baseline;padding-left:34px;}
.lottery .lottery-bar .bar.liuhecai-bar .btn.color-red{width:264px;text-align: left;}
.lottery .lottery-bar .bar.liuhecai-bar .btn.color-gray{width:182px;background: #363636 !important;}
.lottery .lottery-bar .bar.liuhecai-bar .content{height:100px;background: none;width:220px;text-align: left;margin-right:12px;}
.lottery .lottery-bar .bar.liuhecai-bar .content .t1{padding-top:24px;}
.lottery .lottery-bar .bar.liuhecai-bar .text{float:left;width:224px;height:100px;padding:0 36px;background: #fff;}
.lottery .lottery-bar .bar.liuhecai-bar .text .inputText{font-size:42px;color:#989898;border:0;background:none;height:100%;line-height: 1;padding: 0;margin:0;}
.lottery-content.lottery-content-lhc{}
.lottery-content.lottery-content-lhc .content-lhc{border-bottom:1px solid #aabdc9;/* margin-top:48px; */background:#fff url('../images/lottery/liuhecai-bg1.png') no-repeat;background-size:cover;margin-bottom: 100px;}
.lottery-content.lottery-content-lhc .content-lhc:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-content.lottery-content-lhc .select-lhc{border-bottom:1px solid #aabdc9;margin-top:20px;background:#f4f3f2 url('../images/lottery/liuhecai-bg2.png') no-repeat;background-size:cover;}
.lottery-content.lottery-content-lhc .select-lhc:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-content.lottery-content-lhc .cols{ margin-top:-1px;padding:0 14px 0 24px;font-size:32px;text-align: left;color:#000;float:left;height:134px;line-height: 134px;border-top:1px solid #aabdc9;border-right:1px solid #aabdc9;border-bottom:1px solid #aabdc9; box-sizing: border-box;}
.lottery-content.lottery-content-lhc .cols.cols-center{text-align: center;padding: 0;}
.lottery-content.lottery-content-lhc .cols.cols-balls{padding:0px;}
.lottery-content.lottery-content-lhc .cols.cols-balls .lhc-mun{margin-right:0px;}
.lottery-content.lottery-content-lhc .cols.cols-title{padding:0;background: #fff;text-align: center;color:#b9b9b9;background: #F8F8F8;}
.lottery-content.lottery-content-lhc .cols:hover{background-size:100% 100%;}
.lottery-content.lottery-content-lhc .cols.on{/* background: url('../images/lottery/bg.png') repeat; */background-size:100% 100%;background-color:#eccf69;}
.lottery-content.lottery-content-lhc .cols span{vertical-align: middle;}
.lottery-content.lottery-content-lhc .cols .lhc-mun{vertical-align: middle;margin-right:22px;}
.lottery-content.lottery-content-lhc .cols .lhc-mun.lhc-mun-font{background: #7d7d7d;font-size:18px;font-size: 38px;width: 100px;border-radius: 12px;-webkit-border-radius: 12px;}
.lottery-content.lottery-content-lhc .select-lhc .cols{height:120px;line-height: inherit;text-align: center;}
.lottery-content.lottery-content-lhc .select-lhc .cols .mun{font-size:44px;line-height: 52px;padding-top:22px;color:#000;}
.lottery-content.lottery-content-lhc .select-lhc .cols .mun2{font-size:26px;line-height: 30px;color:#a8a9a9;}
.cols-85{width:85%;}
.cols-34{width:34%;}
.cols-33{width:33%;}
.cols-25{width:25%;}
.cols-20{width:20%;}
.cols-15{width:15%;}
.cols-10{width:10%;}
.lhc-mun{display:inline-block;*display:inline;*zoom:1;font-size:40px;width:68px;height:68px;border-radius:88px;-webkit-border-radius:88px;color:#fff;text-align:center;line-height: 68px;}
.lhc-green{background: #21c128;border:7px solid #23d02b;}
.lhc-blue{background: #128bf1;border:7px solid #1a96ff;}
.lhc-red{background: #ed4e4e;border:7px solid #ff5454;}
.lhc-yellow{background: #ffca12;border:7px solid #fdd856;}

/* 苹果移动端显示滚动条 */
.msg-list::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.msg-list::-webkit-scrollbar {
  width: 5px;
  height: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.msg-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  min-height: 28px;
}
.msg-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.msg-list{margin:8px 0;height:196px;/* overflow-y: scroll; */overflow: hidden;overflow-y: auto;}
.msg-list .msg-list-title{line-height:24px;font-size:16px;color:#000;font-weight: bold;}
.msg-list ul{border:1px solid #e3e3e3;/* overflow-y:scroll;height:196px; */}
.msg-list .msg-list-li.msg-list-t{background:#f9f9f9;}
.msg-list .msg-list-li{border-bottom:1px solid #e3e3e3;}
.msg-list .msg-list-li:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.msg-list .msg-list-li .child{ box-sizing:border-box;float:left;border-right:1px solid #e3e3e3;height:64px;line-height:64px;text-align:center;font-size:28px;color:#8a8a8a;}
.msg-list .msg-list-li .child1{width:80px;}
.msg-list .msg-list-li .child2{width:400px;}
.msg-list .msg-list-li .child3{width:140px;}
.msg-list .msg-list-li .child4{float:inherit !important;width:inherit;border-right:0;}

.lottery-dynamic .child1{width:400px;line-height:84px;}
.lottery-dynamic .child2{width:550px;text-align: center;}
.lottery-dynamic{top:386px;}

/* 幸运28 */
.clear:after{content:'';display:table;clear:both;}
.lottery-content.lottery-content-xyeb{}
.lottery-content.lottery-content-xyeb .content-xyeb{margin: 30px 40px;/* margin-top:48px; */margin-bottom: 100px;}
.lottery-content.lottery-content-xyeb .content-xyeb.m0{margin:0;padding:20px;margin-bottom:100px;}
.lottery-content.lottery-content-xyeb .content-xyeb:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-content.lottery-content-xyeb .select-xyeb{border-bottom:1px solid #aabdc9;margin-top:20px;background:#f4f3f2 url('../images/lottery/liuhecai-bg2.png') no-repeat;background-size:cover;}
.lottery-content.lottery-content-xyeb .select-xyeb:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-content.lottery-content-xyeb .cols{background:#fff; margin-top:-1px;padding:0 14px 0 38px;font-size:32px;text-align: left;color:#000;float:left;height:150px;line-height: 150px;border-top:1px solid #d8d6d6;border-right:1px solid #d8d6d6; box-sizing: border-box;}
.lottery-content.lottery-content-xyeb .cols:nth-child(1),.lottery-content.lottery-content-xyeb .cols:nth-child(2),.lottery-content.lottery-content-xyeb .cols:nth-child(3),.lottery-content.lottery-content-xyeb .cols:nth-child(4){border-top:0;}
.lottery-content.lottery-content-xyeb .cols.cols-center{text-align: center;padding: 0;}
.lottery-content.lottery-content-xyeb .cols.cols-balls{padding:0px;}
.lottery-content.lottery-content-xyeb .cols.cols-balls .lhc-mun{margin-right:0px;}
.lottery-content.lottery-content-xyeb .cols.cols-title{padding:0;background: #fff;text-align: center;color:#b9b9b9;background: #F8F8F8;}
.lottery-content.lottery-content-xyeb .cols:hover{background-size:100% 100%;}
.lottery-content.lottery-content-xyeb .cols.on{background: url('../images/lottery/bg.png') repeat;background-size:100% 100%;}
.lottery-content.lottery-content-xyeb .cols span{vertical-align: middle;color:#ff3c3c;}
.lottery-content.lottery-content-xyeb .cols .xyeb-mun{vertical-align: middle;margin-right:22px;}
.lottery-content.lottery-content-xyeb .cols .xyeb-mun.lhc-mun-font{background: #7d7d7d;font-size:18px;font-size: 38px;width: 100px;border-radius: 12px;-webkit-border-radius: 12px;}
.lottery-content.lottery-content-xyeb .select-xyeb .cols{height:120px;line-height: inherit;text-align: center;}
.lottery-content.lottery-content-xyeb .select-xyeb .cols .mun{font-size:44px;line-height: 52px;padding-top:22px;color:#000;}
.lottery-content.lottery-content-xyeb .select-xyeb .cols .mun2{font-size:26px;line-height: 30px;color:#a8a9a9;}

/* 混合 */
.hide{display:none;}
.content-xyeb .lottery-child .child-title{font-size:36px;padding-left:15px;margin: 25px 0;}
.content-xyeb .lottery-child .child-title h2{border-left: 10px solid #ff3c3c;padding:5px 0;padding-left: 12px;}
.content-xyeb .lottery-child .child-content .mun2{width: 22%;margin:0 1.35%;min-height:200px;}
.content-xyeb .lottery-child .child-content.part-second .mun2{width: 47%;}
.content-xyeb .lottery-child .child-content.part-third .mun2{width: 30.33%;}
.content-xyeb .lottery-child .child-content.long .mun2{width: 97%;}
/* .content-xyeb .lottery-child .child-content .mun2:first-child{margin-left:0;} */
.content-xyeb .lottery-child .child-content .mun2 .value{font-size:52px;}
.content-xyeb .lottery-child .child-content .mun2 .info{line-height: 50px;font-size: 28px;}

.content-xyeb .lottery-child .child-content .mun2.bg-red{background:#fff url('../images/lottery/xyeb-hb.png') no-repeat;}
.content-xyeb .lottery-child .child-content .mun2.bg-green{background:#fff url('../images/lottery/xyeb-lb.png') no-repeat;}
.content-xyeb .lottery-child .child-content .mun2.bg-blue{background:#fff url('../images/lottery/xyeb-lanb.png') no-repeat;}
.lottery-child .child-content.part-third .mun2.on{background:#ff3c3c;}

.xyeb-mun{display:inline-block;*display:inline;*zoom:1;font-size:34px;width:60px;height:60px;border-radius:88px;-webkit-border-radius:88px;color:#fff;text-align:center;line-height: 60px;}
.xyeb-mun.big{width:70px;height:70px;line-height:70px;font-size:40px;}
.xyeb-green{background: #21c128;border:7px solid #23d02b;}
.xyeb-blue{background: #128bf1;border:7px solid #1a96ff;}
.xyeb-red{background: #ed4e4e;border:7px solid #ff5454;}
.xyeb-yellow{background: #ffca12;border:7px solid #fdd856;}
.xyeb-gray{background: #B4B4B4;border:7px solid #cabdbd;}

.lottery-dynamic.mt-30 {top:356px;}

.muns.muns-small .mun.equal, .main-head .child-muns .xyeb-mun.equal{color:#222 !important;width:auto !important;padding: 0 8px;}

.clear:after{content:'';clear:both;display:table;}
.lottery-bar .additional-shortcut-money {width:500px;font-size: 34px;position: absolute;top: 10px;bottom: 0px;right: 30px;margin: auto 0;color:#fff;line-height:144px;}
.lottery-bar .additional-shortcut-money span{float:left;width: 80px;line-height: 44px;margin-top: 46px;font-size: 38px;}
.lottery-bar .additional-shortcut-money .money-list{float:right;width: 420px;}
.lottery-bar .additional-shortcut-money .money-list a {float:left;width:25%;color:#444;background-color:#fff ;width:80px;height:80px;line-height:80px;text-align:center;border-radius: 50%;margin: 5px 0 5px 24px;font-size: 30px;}
.lottery-bar .additional-shortcut-money .money-list a:hover, .lottery-bar .additional-shortcut-money .money-list a:visited{background-color:#ffca12 ;color:#fff;outline:none;}
.lottery-bar .additional-shortcut-money .money-list.xyeb-money-list{margin-top: 60px;}
.lottery-bar .additional-shortcut-money .money-list.xyeb-money-list a{border-radius:0;width: 86px;height:56px;line-height:56px;margin: 5px 0 5px 16px;background-color:#ff3c3c;color:#fff;font-size:34px;}
.lottery-bar .additional-shortcut-money .money-list.xyeb-money-list a:first-child{margin-left: 25px;}

.lottery-bar .additional .content{padding: 50px 0;}

.lottery-bar .additional .content.p25-0{padding:25px 0;}
.lottery-bar .additional .content.p25-0 .additional-shortcut-money span{margin-top: 20px;}
.lottery-bar .additional .content.p25-0 .additional-shortcut-money .money-list.xyeb-money-list{margin-top:35px;}

.m0-10 {margin:0 10px !important;}
.symbol{color:#222;font-size: 38px;display: inline-block; margin-top: -15px; padding: 0 5px;margin-right: -8px;}
