/*.lottery.header .header-title{line-height:114px;}
.lottery.header .header-right{line-height:114px;}
*/
.header span{vertical-align:baseline;}
.header {text-align: center;}
.header .icon{margin:0 0 0 16px;}
.header .header-title{display: inline-block;font-size:40px;color:#df343a;background:#fff;height:70px;line-height: 70px;padding:0 20px;border-radius: 8px;-webkit-border-radius: 8px;}
.header .header-title:after{content: "";position: absolute;top:0px;bottom:0px;left:-40px;margin:auto 0;width:28px;height:54px;background:url(../images/lottery/wanfa.png) no-repeat center center;background-size:28px 54px;}

.main{background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}

.lottery-classify{display:none;position:fixed;top:130px;left:0px;right:0px;background:#fff;z-index:91;}
.lottery-classify .container{overflow-x:scroll;overflow-y:hidden;position:relative; margin: 0 60px;}
.lottery-classify .right_but{position:absolute;right:0;top:32px;width:60px;height:75px;background:url(../images/lottery/icon-arr.png) center no-repeat;background-size: 17px 29px;-webkit-tap-highlight-color: rgba(255,255,255,0)}
.lottery-classify .left_but{position:absolute;left:0;top:32px;width:60px;height:75px;background:url(../images/lottery/icon-arrl.png) center no-repeat;background-size: 17px 29px;-webkit-tap-highlight-color: rgba(255,255,255,0)}
.lottery-classify .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content{padding:42px 0;}
.lottery-classify .clist{display:none;}
.lottery-classify .child{float:left;color:#000;margin:6px 12px 6px 0;font-size:36px;height:75px;line-height:75px;text-align:center;}
.lottery-classify .child.color-red{color:#fff !important;}
.lottery-classify .child.no{opacity: 0.4;}
.lottery-classify .child p{padding:0 18px;}
.lottery-classify-list{border-top:1px solid #dbdce3;padding:12px 0;}
.lottery-classify-list .list-line{padding:24px 0;line-height:87px;border-bottom:1px dashed #c2c2c2;}
.lottery-classify-list .list-line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-title{margin-right:30px;color:#a5a5a5;font-size:32px;float:left;width:102px;text-align:right;}
.lottery-classify-list .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-content{float:left;width:876px;}
.lottery-classify2 .move-content{padding:26px 0;width:2000px;/* overflow-x: scroll; */}
.lottery-classify.lottery-classify1{width:360px;left:initial;right:0px;}
.lottery-classify.lottery-classify1 .child{display:block;float:none;margin:12px 0;}

.main-head{padding:30px 0;overflow:hidden;}
.main-head .container{overflow:hidden;}
.main-head .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main-head .sub{position:absolute;left:0px;right:0px;top:0px;bottom:0px;margin:auto;width:1px;background:#e3e3e3;}
.main-head .child{position:relative;width:50%;float:left;text-align:center;}
.main-head .child-title{line-height:54px;font-size:36px;color:#000;}
.main-head .child-title .icon{margin:0 8px;}

.main-head .child-muns{padding:12px 0;font-size:40px;}
.main-head .child-muns .mun{font-size:88px;width:74px;height:86px;line-height:86px;vertical-align:middle;}
.main-head .child-muns .small-mun{font-size:54px;height:86px;line-height:86px;vertical-align:middle;}
.main-head .child-muns .ball{display:inline-block;*display:inline;*zoom:1;color:#fff !important;font-size:48px;width:80px;height:80px;line-height:80px;vertical-align:middle;border-radius:80px;-webkit-border-radius:80px;}
.main-head .child-muns .dice{margin:0 8px;}
.main-head .child-muns .lhc-mun{display:inline-block;*display:inline;*zoom:1;font-size:35px;width:64px;height:64px;border-radius:78px;-webkit-border-radius:78px;color:#fff;text-align:center;line-height: 64px;}
.main-head .child-muns .lhc-mun.small {width: 45px;height: 45px;line-height:45px;}
.main-head .child-muns .lhc-mun.black {color:#000;width: auto;}
.lhc-mun-item {display: inline-block;}
.main-head .child-muns .lhc-mun-item .btn-title {font-size:35px;margin-top: 15px;}
.main-head .child-muns .lhc-mun-item .btn-title.lhc-red{color:#F8554B;background:none;border: 0;}
.main-head .child-muns .lhc-mun-item .btn-title.lhc-green{color:#2ACB19;background:none;border: 0;}
.main-head .child-muns .lhc-mun-item .btn-title.lhc-blue{color:#0D8EFF;background:none;border: 0;}
.main-head .child-muns .lhc-mun-item .btn-title.lhc-yellow{color:#F8B406;background:none;border: 0;}

.lottery-dynamic{display:none;position:absolute;top:358px;left:0px;right:0px;z-index:10;padding:12px 0;background:#f0f1f5;box-shadow:inset 0px 0px 11px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0px 0px 11px rgba(0,0,0,0.3);}
.lottery-dynamic .content{max-height:388px;}
/*.lottery-dynamic .titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-dynamic .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-dynamic .titles{overflow:hidden;border-bottom:1px solid #dddee2;font-size:34px;color:#a5a6a9;text-align:center;line-height:78px;}
.lottery-dynamic .content{max-height:388px;padding:12px 0;font-size:32px;border-top:1px solid #fff;text-align:center;overflow-y:scroll;}
.lottery-dynamic .line{overflow:hidden;line-height:64px;}
.lottery-dynamic .child{float:left;}*/


.user-list.reminder .user-msg{font-size:32px;line-height:52px;}

.lottery-child{overflow:hidden;margin-bottom:14px;}
.lottery-child .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-child .child-head{line-height:138px;border-bottom:1px solid #d3d5e0;}
.lottery-child .child-head:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-child .child-head .content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-child .child-head .content{float:right;width:764px;text-align:right;}
.lottery-child .child-head .title{color:#000;font-size:52px;float:left;width:240px;}
.lottery-child .child-head .mun{margin:0 12px;vertical-align:middle; display:inline-block;*display:inline;*zoom:1;color:#7a7d8b;font-size:44px;width:98px;height:98px;line-height:98px;text-align:center;border-radius:100px;-webkit-border-radius:100px;}
.lottery-child .child-head .mun.on{background:#ffbd82;border-color:#ee9753;color:#fff;}
.lottery-child .child-content{padding:12px 0;}

.lottery-child .child-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-child .child-content .content{width: 776px;float:right;}
.lottery-child .child-content .content.long{width:100%;}
.lottery-child .child-content .content.long2{width:760px;float:none;margin:0 auto;}
.lottery-child .child-content .content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-child .child-content .title{line-height:166px;width:124px;float:left;text-align:right;font-size:38px;color:#a7a7aa;}
.lottery-child .child-content .mun{font-size:62px;display:inline-block;*display:inline;*zoom:1;margin:13px;position:relative;width:120px;height:120px;line-height:120px;text-align:center;color:#464b7c;border:1px solid #e9ecf4;border-radius:120px;-webkit-border-radius:120px;}
.lottery-child .child-content .mun.on{color:#fff;background:#fa3b42;}
.lottery-child .child-content .mun2{display:inline-block;*display:inline;*zoom:1;background:#fff;position:relative;margin:0px 16px;width:166px;min-height:166px;text-align:center;border-radius:12px;-webkit-border-radius:12px;box-shadow:1px 0 4px rgba(0,0,0,0.11);-webkit-box-shadow:1px 0 4px rgba(0,0,0,0.11);}
.lottery-child .child-content .mun2 .value{color:#3c404e;line-height:70px;padding:32px 0 4px 0;font-size:50px;}
.lottery-child .child-content .mun2 .info{color:#b4b5bd;line-height:38px;font-size:24px;}
.lottery-child .child-content .mun2.long{width: 368px;}
.lottery-child .child-content .mun2.on{background:#ff3c3c;}
.lottery-child .child-content .mun2.on .value{color:#fff !important;}
.lottery-child .child-content .mun2.on .info{color:#fff;}
.lottery-child .lottery-textarea{padding:34px 0;}
.lottery-child .lottery-textarea textarea{overflow: hidden;width:100%;height:480px;border:0;font-size:46px;color:#a7a7aa;}
.lottery-child .lottery-textarea textarea::-webkit-input-placeholder {font-size:34px;color:#a7a7aa;}
.lottery-child.no{background:none;box-shadow:none;-webkit-box-shadow:none;}
.lottery-child.no .child-content .content{width:878px;}
.lottery-child.vs{text-align:center;line-height:260px;background:none;box-shadow:none;-webkit-box-shadow:none;}
.lottery-child.vs .logo-vs{ vertical-align:middle;margin:0 42px;}
.lottery-child.vs .ball{font-size:64px;vertical-align:middle; display:inline-block;*display:inline;*zoom:1;background:#fff no-repeat center center;width:260px;height:260px;line-height:260px;border-radius:260px;-webkit-border-radius:260px;box-shadow:0 3px 9px rgba(0,0,0,0.1);-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.1);}
.lottery-child.vs .ball.color-blue{color:#fff !important;}
.lottery-child.vs .ball.long-ball{background-image:url(../images/lottery_logo/long.png); }
.lottery-child.vs .ball.long-ball.color-red{background-color: #ff3c3c !important;color:#fff !important;}
.lottery-child.vs .ball.hu-ball.color-red{background-color: #ff3c3c !important;color:#fff !important;}
.lottery-child.vs .ball.hu-ball{background-image:url(../images/lottery_logo/hu.png); }
.lottery-child.vs .ball.long-ball.color-red{background-image:url(../images/lottery_logo/long-on.png);}
.lottery-child.vs .ball.hu-ball.color-red{background-image:url(../images/lottery_logo/hu-on.png);}
.lottery-select{padding:24px 0;line-height:42px;background:#fff;border-bottom:1px solid #cacaca;font-size:32px;color:#666;}
.lottery-select-list input{vertical-align: middle; width:38px;height:38px;}
.lottery-select-list span{vertical-align: middle;color:#888;font-size:42px;margin-right:12px;}
.lottery-select-msg{font-size:28px;padding-top:12px;}

.lottery-bar{position:fixed;bottom:0px;left:0px;right:0px;z-index:102;}
.lottery-bar .bar{/* position:absolute;bottom:0px;left:0px;right:0px; */height:146px;line-height:146px;background:#fff !important;}
.lottery-bar .bar:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-bar .bar .clear{background:#1c1c1c;border-right:1px solid #1c1c1c;width:22%;height:146px;float:left;box-sizing:border-box;text-align:center;}
.lottery-bar .bar .clear span{color:#fff;font-size:50px;}
.lottery-bar .bar .clear.no span{opacity:0.54;}
.lottery-bar .bar .content{background:#353535;color:#fff;float:left;height:146px;width:50%;text-align:center;}
.lottery-bar .bar .content .t1{padding-top:34px;line-height:48px;font-size:42px;}
.lottery-bar .bar .content .t2{line-height:36px;font-size:30px;}
.lottery-bar .bar .btn{line-height: 132px;color:#fff !important;font-size:50px;float:left;width:28%;height:146px;text-align:center;}
.lottery-bar .bar .btn .icon{line-height:54px;margin:0 12px;}
.lottery-bar .additional{display:none;line-height:100px;/* position:absolute;bottom:146px;left:0px;right:0px; */background:rgba(0,0,0,0.4); filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.lottery-bar .additional .bg{/* position:absolute;top:0px;bottom:0px;left:0px;right:0px;background:#161b3f;opacity:0.62; */}
.lottery-bar .additional:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-bar .additional .content{position:relative;padding:22px 0;}
.lottery-bar .additional .content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-bar .additional .title{width:128px;text-align:center;font-size:38px;color:#fff;float:left;}
.lottery-bar .additional .multiple-select{height:100px;background:#fff;float:left;}
.lottery-bar .additional .multiple-select .multiple-btn{width:80px;float:left;text-align:center;color:#b5b5b5;font-size:48px;}
.lottery-bar .additional .multiple-select .multiple-btn span{vertical-align:middle;}
.lottery-bar .additional .multiple-select .multiple-text{width:174px;float:left;border-left:1px solid #cfcfcf;border-right:1px solid #cfcfcf;border-radius:4px;-webkit-border-radius:4px;}
.lottery-bar .additional .multiple-select .multiple-text input{border:0;font-size:48px;vertical-align:middle; width:100%;height:100%;line-height:1;text-align:center;color:#000;}
.lottery-bar .additional-btn{text-align:center;font-size:40px;position:absolute;top:0px;bottom:0px;right:0px;width:308px;height:120px;line-height:120px;margin:auto 0;color:#fff !important;}

/*.alert.alert-cart{left:120px;right:120px;}*/
.alert.alert-cart .user-line .line-title{width:260px;}
.alert.alert-cart .user-line .line-content{width:670px;}
.alert.alert-cart .user-line{border:0px;}

.modal{overflow-y:scroll;}
/**
 * animated
 */

.lottery-classify{-webkit-animation-name: fadeInDown;animation-name: fadeInDown;}
.lottery-bar .additional{-webkit-animation-name: fadeInUp;animation-name: fadeInUp;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.lottery-dynamic.in{display:block;-webkit-animation-name: fadeInLeft08;animation-name: fadeInLeft08;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.lottery-dynamic.out{display:block;-webkit-animation-name: fadeOutRight08;animation-name: fadeOutRight08;-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;}
.lottery-classify .clist.out{display:none;-webkit-animation-name: fadeOutRight;animation-name: fadeOutRight;}
.lottery-classify .clist.in{display:block;-webkit-animation-name: fadeInDown;animation-name: fadeInDown;}





