.additional-modal .main{margin-bottom:14px;background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.additional-modal .user-line .line-title{width:364px;}
.additional-modal .user-line .line-content{width:650px;height:76px;}
.additional-modal .main .titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.additional-modal .main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.additional-modal .main .titles{padding:36px 0;font-size:30px;color:#8a8a8a;text-align:center;}
.additional-modal .main .line{padding:26px 0;font-size:30px;color:#000;text-align:center;border-top:1px solid #dfe1eb;}
.additional-modal .main .child{float:left;}
.additional-modal .main .child p{line-height:42px;}
.additional-modal .main .child span{vertical-align:middle;}
.additional-modal .main .child .inputText{margin:0 6px;font-size:30px;vertical-align:middle;color:#000;text-align:center;line-height:1;width:56px;height:40px;border:1px solid #e5e6ea;border-radius:4px;-webkit-border-radius:4px;}
.additional-modal .main .child1{width:104px;}
.additional-modal .main .child2{width:300px;}
.additional-modal .main .child3{width:154px;}
.additional-modal .main .child4{width:220px;}
.additional-modal .main .child5{width:292px;}

.record-modal .main{margin-bottom:14px;background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.record-modal .main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.record-modal .main .line{padding:26px 0;font-size:30px;color:#000;text-align:center;border-top:1px solid #dfe1eb;}
.record-modal .main .child{float:left;}
.record-modal .main .child p{line-height:42px;}
.record-modal .main .child span{vertical-align:middle;}
.record-modal .main .child i{font-size:20px;}
.record-modal .main .child .inputText{margin:0 6px;font-size:30px;vertical-align:middle;color:#000;text-align:center;line-height:1;width:56px;height:40px;border:1px solid #e5e6ea;border-radius:4px;-webkit-border-radius:4px;}
/* .record-modal .main .child1{width:360px;}
.record-modal .main .child2{width:200px;}
.record-modal .main .child3{width:80px;}
.record-modal .main .child4{width:80px;}
.record-modal .main .child5{width:280px;}
.record-modal .main .child6{width:80px;} */
.record-modal .main .child1{width:200px;}
.record-modal .main .child1extend{width:16%;}
.record-modal .main .child2{width:220px;}
.record-modal .main .child2extend{width:17.7%;}
.record-modal .main .child3{width:200px;}
.record-modal .main .child3extend{width:37%;}
.record-modal .main .child4{width:130px;}
.record-modal .main .child4extend{width:10.5%;}
.record-modal .main .child5{width:230px;}
.record-modal .main .child5extend{width:18.5%;}
.record-modal .main .child6{width:80px;}
