html { overflow-y:scroll}
*{word-wrap:break-word;}
body{  font-weight: normal;}
body,input,button,select,textarea{font:12px/1.5 'Microsoft Yahei','Simsun'; color:#000;}
textarea{resize:none;}body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
ul li,.xl li{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:1em;}em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none; /*transition:all .2s linear*/}
a:hover{text-decoration:blink;}
a img{border:none;}
label{cursor:pointer;}
ul,li { list-style:none}
.z{float:left;}
.y{float:right;}
.cl:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.cl{zoom:1;}
.none { display:none}
.ppbaoma { width:100%; height:auto; overflow:hidden}
.ppbaomad { clear:both; width:100%; height:50px; padding:5px 0; border-bottom:1px dashed #999; overflow:hidden; position:relative}
.ppbaomady { margin-left:60px; margin-right:3px}
.ppbaomadz { position:absolute; left:0; top:10px; left:5px; width:40px;}
.ppbaomadz img { width:100%}
.ppbaomadyt { height:23px; line-height:23px; width:100%; clear:both}

::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5;
}

.font-red {background:#f34248}

.btn{font-size:13px;margin-right: 3px;width: 21px;height: 21px;text-align: center;line-height: 21px;color: #fff;position: relative;vertical-align: middle;background-image:url(../images/lottery/bg-yellow.png);color:#fff;display: inline-block;font-family: Arial, Helvetica, sans-serif;background-size: 21px 21px;}
.btn-red{background-image:url(../images/lottery/bg-red.png);}
.btn-green{background-image:url(../images/lottery/bg-green.png);}
.btn-blue{background-image:url(../images/lottery/bg-blue.png);}
.btn-yellow{background-image:url(../images/lottery/bg-yellow.png);}
.btn-fadered{background-image:url(../images/lottery/bg-fadered.png);}
.btn-add{background-image:url(../images/lottery/bg-add.png);}
.btn-equal{background-image:url(../images/lottery/bg-equal.png);}
.btn.btn-add, .btn.btn-equal{width: 15px;height: 15px;background-size: 100% 100%;margin-top: 1px;}

.k3_no1{ background:url(../images/dice_pic/gray/1.png) 0 0 no-repeat; background-size:21px 21px;}
.k3_no2{ background:url(../images/dice_pic/gray/2.png) 0 0 no-repeat; background-size:21px 21px;}
.k3_no3{ background:url(../images/dice_pic/gray/3.png) 0 0 no-repeat; background-size:21px 21px;}
.k3_no4{ background:url(../images/dice_pic/gray/4.png) 0 0 no-repeat; background-size:21px 21px;}
.k3_no5{ background:url(../images/dice_pic/gray/5.png) 0 0 no-repeat; background-size:21px 21px;}
.k3_no6{ background:url(../images/dice_pic/gray/6.png) 0 0 no-repeat; background-size:21px 21px;}

.main .icon{width: 40px;height: 40px;background-size: 100% 100%;}
.main .icon-shishicai{background-image:url(../images/lottery_logo/hall/logo_ssc.png) !important;}
.main .icon-11xuan5{background-image:url(../images/lottery_logo/hall/logo_11xuan5.png) !important;}
.main .icon-11xuan5-2{background-image:url(../images/lottery/logo/icon-11xuan5-2.png) !important;}
.main .icon-fenfencai{background-image:url(../images/lottery_logo/hall/logo_fenfencai.png) !important;}
.main .icon-kuai3{background-image:url(../images/lottery_logo/hall/logo_kuai3.png) !important;}
.main .icon-kuai3-2{background-image:url(../images/lottery/logo/icon-kuai3-2.png) !important;}
.main .icon-liuhecai{background-image:url(../images/lottery_logo/hall/logo_liuhecai.png) !important;}
.main .icon-pk10{background-image:url(../images/lottery_logo/hall/logo_pk10.png) !important;}
.main .icon-3d{background-image:url(../images/lottery_logo/hall/logo_3d.png) !important;}
.main .icon-xy28{background-image:url(../images/lottery_logo/hall/logo_xy28.png) !important;}
.main .icon-wufencai{background-image:url(../images/lottery_logo/hall/logo_fenfencai.png) !important;}
.main .icon-1_5fencai{background-image:url(../images/lottery_logo/hall/logo_fenfencai.png) !important;}
.main .icon-erfencai{background-image:url(../images/lottery_logo/hall/logo_fenfencai.png) !important;}

.lotteryhome {font-size:14px;}