.header .header-title{width:398px;margin:0 auto;}
.header .header-title:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.header .header-title-content{display:-webkit-box;overflow:hidden;margin-top:24px;position:relative;height:84px;line-height:84px;border:1px solid #ffffff;border-radius:12px;-webkit-border-radius:12px;transition-duration: .5s;-webkit-transition-duration: .5s;}
.header .header-title-child{width:50%;color:#fff;font-size:36px; height:86px;display:block;opacity:1;border-right:1px solid #fff;box-sizing: border-box;}
.header .header-title-child.on{color:#df333a;background:#ffffff;}
.header .header-title-child:last-child{border-right:0px;}


.main{background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.main-child{position:relative;height:188px;line-height:188px;border-bottom:1px solid #f0f1f5;}
.main-child:hover{background:#e9e9e9;}
.main-child .container{height:100%;}

.child-content{padding:34px 100px 0 0px;color:#000;}
.child-content .title{line-height:62px;font-size:50px;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.child-content .info{color:#6e6e6e;height:46px;overflow:hidden;line-height:46px;margin-top:13px;font-size:38px;font-family: "宋体";}
.child-content .info p{overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.pointer{position:absolute;right:0px;top:70px;}
.pointer:before{color:#dbdadd;font-size:40px;}