

.main{background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.main-child{position:relative;}
.main-child:hover{background:#e9e9e9;}
.main-child .container{height:100%;padding-bottom:34px;}

.child-content{padding:34px 100px 0 0px;color:#000;}
.child-content .title{line-height:62px;font-size:50px;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.child-content .info{color:#6e6e6e;overflow:hidden;line-height:46px;margin-top:13px;font-size:38px;font-family: "宋体";}
.child-content .info p{overflow : hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.pointer{position:absolute;right:0px;top:70px;}
.pointer:before{color:#dbdadd;font-size:40px;}

.content{background:#fff;font-size:38px;color:#000;padding:32px 0;line-height: 74px;border-top:2px solid #f0f1f5;border-bottom:1px solid #f0f1f5;}
.content .reply-block{margin-bottom:50px;}
.content .reply-block h2{display:inline-block;color:#333;font-weight:bold;margin-right: 10px;}
.content .reply-block span.time{color:#6e6e6e;vertical-align: baseline;}
.content .reply-block p{padding-left: 78px;}