.main-head{line-height:60px;padding:26px 0 20px 0;text-align:left;background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);overflow:hidden;}
.main-head a,.main-head span{cursor:pointer;margin:6px 28px;font-size:46px;color:#383d66;}
.main-content{display:none;margin-top:20px;padding:20px 0 30px 0;background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);overflow:hidden;}
.main-content .main-title{line-height:64px;font-size:46px;}
.main-content .line{text-align:center;position:relative;height:110px;margin-top:28px;}
.main-content .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main-content .line .sub{position:absolute;top:0px;bottom:0px;left:0px;right:0px;width:1px;background:#d5d6df;margin:0 auto;}
.main-content .line .child{position:relative;width:50%;float:left;height:110px;}
.main-content .line .money{line-height:54px;margin-top:6px;font-size:46px;}
.main-content .line .info{line-height:38px;margin-top:12px;font-size:38px;}
.main-content .line .info2{line-height:46px;margin-top:24px;font-size:38px;}
