.header .icon{margin: 0 16px;}
.lottery-classify{display:none;position:fixed;top:130px;left:0px;right:0px;background:#fff;z-index:102;}
.lottery-classify .container{overflow-x:scroll;overflow-y:hidden;}
.lottery-classify .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content{padding:42px 0;}
.lottery-classify .clist{display:none;}
.lottery-classify .child{float:left;color:#000;margin:6px 12px 6px 0;font-size:36px;height:75px;line-height:75px;text-align:center;}
.lottery-classify .child.color-blue{color:#fff !important;}
.lottery-classify .child.color-red{color:#fff !important;}
.lottery-classify .child.no{opacity: 0.4;}
.lottery-classify .child p{padding:0 18px;}
.lottery-classify-list{border-top:1px solid #dbdce3;padding:12px 0;}
.lottery-classify-list .list-line{padding:24px 0;line-height:87px;border-bottom:1px dashed #c2c2c2;}
.lottery-classify-list .list-line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-title{margin-right:30px;color:#a5a5a5;font-size:32px;float:left;width:102px;text-align:right;}
.lottery-classify-list .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-content{float:left;width:876px;}
.lottery-classify.lottery-classify1{width:360px;left:initial;right:0px;}
.lottery-classify.lottery-classify1 .child{display:block;float:none;margin:12px 0;}

.alert-bg{z-index:101;}

.lottery-name{width: 100%;font-size:40px;position:relative;height:100px;line-height:100px;padding-left:15px;background-color:#fa3b42;text-align: center; padding-right: 83px;box-sizing: border-box;border-radius: 4px;color: #fff;}
.icon-arrow-down{position:absolute;right:0;top:0;width:70px;height:100px;background:url(../images/icon/icon-arrow-down2.png) 12px 50px no-repeat;}
.lottery-name .options{z-index: 89;display:none;position:absolute;top:100px;left:0;background-color:#f5e6e6;width:100%;max-height: 1060px;overflow: auto;color:#333;}
.lottery-name .options.open{display:block;}
.lottery-name .options li.on{background-color:#ff3c3c;color:#fff;}
.lottery-name .options li{height:86px;line-height:86px;text-align:center;}
.user-line.bet-search {border-bottom:0;background-color:#EFEEF4;overflow: visible;}
.icon-search{display:inline-block;width:46px;height:46px;background:url(../images/icon/icon-search.png)}
.user-line.bet-search .btn-middle{line-height:50px;padding: 20px 45px;height: 60px;border-radius: 4px; -webkit-border-radius: 4px;}

.main{background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.main-child{position:relative;padding-bottom:24px;border-bottom:1px solid #f0f1f5;}
.main-child .container{height:100%;}
.child-content{padding:24px 100px 12px 0px;color:#000;}
.child-content .title{line-height:62px;font-size:50px;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.child-content .info{color:#6e6e6e;overflow:hidden;line-height:46px;margin-top:13px;font-size:38px;font-family: "瀹嬩綋";}
.child-content .info span{vertical-align:middle;}
.sender{position: absolute;top: 28px;right: 0px;height: 42px;line-height: 42px;font-size: 32px;text-align: right;}
.statue{color:#fff !important;position:absolute;top:26px;right:0px;text-align:center;width:200px;height: 64px;line-height: 64px;font-size:36px;border-radius:12px;-webkit-border-radius:12px;}

/* 改版后的列表 */
.main.bw{background-color:#EFEEF4;}
.clear:after{content:'';clear:both;display:table;}
.fl{float:left;}
.fr{float:right;}
.money-detail-list{font-size:45px;color:#333;}
.money-detail-list li{padding:0 25px;background-color:#fff;margin-bottom:25px;}
.money-detail-list li .info{border-bottom:1px solid #E0DFDF;padding:35px 0;}
.money-detail-list li .info .info-txt p{color:#999;font-size:38px;padding-top:22px;}
.money-detail-list li .info .info-tag{background-color:#FF7B7B;color:#fff !important;font-size:40px;padding: 20px 40px;border-radius: 8px;margin-top: 15px;}
.money-detail-list li .money{padding:35px 0;}
.money-detail-list li .money span{color:#999;font-size:38px;float:left;width:33.33%;text-align:left;}
.money-detail-list li .money span em{display: inline-block;font-size:48px;padding-top: 22px;color:#FFB504;background-color: transparent !important;}
