html,body { margin: 0;padding: 0;max-width: 640px; }
body {
    background: #f7ecca;
}
.wrapper {
    position: relative;
    width: 100%;
    background-image: url('../images/gift/header_bg.png');
    background-position:top center;
    background-repeat:no-repeat;
    background-size: 100%;
}
.header {
    height: 68px;
    padding: 34px 0;
}
.header .title {
    margin: auto;
    width: 240px;
    height: 68px;
    background: url('../images/gift/title.png');
    background-repeat: none;    
    background-size: 100%;
}
.btn-group {
    text-align: center;
}
.btn-group .btn {
    display: inline-block;
    width: 100px;
    line-height: 35px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    background: #ef4c3e;
    margin: 5px;
}
.btn-group .btn.reg-btn {
    background: #420f19;
}
.footer {
    width: 100%;
    color: #777;
    line-height: 30px;
    margin-top: 30px;
    text-align: center;
    font-size: 10px;
}
.main {
    margin: 20px;
    background: #fffae6;
    border-radius: 8px;
}
.gift-list {
    width: 100%;
    height: 360px;
}
.gift-list .item {
    float: left;
    width: 38%;
    padding: 5%;
    margin-bottom: 25px;
}
.gift-list .item:nth-child(1) {
    margin-left: 0;
}
.gift-list .item .top {
    position: relative;
    height: 120px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto 100%;
    z-index: 3;
}
.gift-list .item .top1 { background-image: url('../images/gift/down-app.png'); }
.gift-list .item .top2 { background-image: url('../images/gift/user-info.png'); }
.gift-list .item .top3 { background-image: url('../images/gift/put-one.png'); }
.gift-list .item .top4 { background-image: url('../images/gift/first-charge.png');height: 90px;margin-top: 30px; }
.gift-list .item .top5 { background-image: url('../images/gift/new-user.png');height: 100px; margin-top: 20px;}
.gift-list .item .box {
    position: relative;
    width: 100%;
    height: 166px;
    background-image: url('../images/gift/box.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: -35px;
    z-index: 2; 
}
.gift-list .item .box .title {
    color: #fff;
    text-align: center;
    padding-top: 50px;
    font-size: 12px;
}
.gift-list .item .box .content {
    color: #fdb43f;
    font-size: 22px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.gift-list .item .bottom {
    text-align: center;
    margin-top: 30px;
}
.gift-list .item .bottom .btn {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 30px;
    background: #ef4c3e;
    color: #fff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
} 
.gift-list .item .bottom .btn.received {
    background: #fdb43f;
    color: #444;
    margin-top: 5px;
    
}
.gift-list .item .bottom .giftTip {
    margin: 5px auto;
    font-size: 13px;
    color: #777;
}
.bottom-reg-btn {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    background: #ef4c3e;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 4px;
    font-size: 14px;
}
.gift-rules {
    width: 80%;
    background: #f29340;
    margin: 40px auto 20px;
    padding: 5%;
    border-radius: 8px;
    color: #fff;
    position: relative;
}
.gift-rules .top {
    margin: 0 auto;
    height: 50px;
    width: 100%;
}
.gift-rules .line {
    border-top: 1px solid #fff;
    position: absolute;
    width: 90%;
    margin: 20px auto;
    z-index: 1;
}
.gift-rules .title {
    position: absolute;
    left: 38%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 40px;
    width: 80px;
    background: #f29340;
    z-index: 2;
    text-align: center;
}
.gift-rules .content {
    margin: 0 auto;
}
.gift-rules .text {
    font-size: 13px;
    margin: 3px 0;
}
.gift-rules .tip {
    margin-top: 15px;
    font-size: 12px;
}