.lottery-classify{display:none;position:fixed;top:130px;left:0px;right:0px;background:#fff;z-index:91;}
.lottery-classify .container{overflow-x:scroll;overflow-y:hidden;}
.lottery-classify .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content{padding:42px 0;}
.lottery-classify .clist{display:none;}
.lottery-classify .child{float:left;color:#000;margin:6px 12px 6px 0;font-size:36px;height:75px;line-height:75px;text-align:center;}
.lottery-classify .child.color-blue{color:#fff !important;}
.lottery-classify .child.color-red{color:#fff !important;}
.lottery-classify .child.no{opacity: 0.4;}
.lottery-classify .child p{padding:0 18px;}
.lottery-classify-list{border-top:1px solid #dbdce3;padding:12px 0;}
.lottery-classify-list .list-line{padding:24px 0;line-height:87px;border-bottom:1px dashed #c2c2c2;}
.lottery-classify-list .list-line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-title{margin-right:30px;color:#a5a5a5;font-size:32px;float:left;width:102px;text-align:right;}
.lottery-classify-list .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-content{float:left;width:876px;}
.lottery-classify.lottery-classify1{width:360px;left:initial;right:0px;}
.lottery-classify.lottery-classify1 .child{display:block;float:none;margin:12px 0;}

body{background-color:#fff;}

.user-line.bet-search {border-bottom:0;background-color:#EFEEF4;overflow: visible;}
.user-line .line-content{width:82%;}
.user-line .inputText{color: #333;background-color:#fff;padding: 12px;font-size: 48px;height:110px;line-height:110px;padding-left: 20px;box-sizing: border-box;}
.icon-search{display:inline-block;width:46px;height:46px;background:url(../images/icon/icon-search.png)}
.user-line.bet-search .btn-middle{height: 110px;line-height: 103px;width: 15%;padding: 0;text-align: center;border-radius: 4px; -webkit-border-radius: 4px; }
.main-container{margin: 0;background: #fff;}
.js-tab{height: 100px;line-height: 100px;background-color:#F3F3F3;}
.js-tab a{float:left;width:50%;text-align:center;color:#000;font-size:45px;}
.js-tab a.on{color:#ff3c3c;border-bottom:4px solid #ff3c3c;}

.empty-tip{font-size:42px;color:#888;text-align:center;margin-top:300px;line-height: 56px;}

.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main .titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .titles{padding:36px 0;font-size:30px;color:#8a8a8a;text-align:center;}
.main .line{padding:26px 0;font-size:30px;color:#000;text-align:center;border-top:1px solid #dfe1eb;}
.main .child{float:left;font-size: 32px;}
.main .child p{line-height:38px;}

.js-cont.main{border-top:0;margin:0;}
.js-cont .block{display:none;}
.js-cont .block:first-child{display:block;}

/* 充值 */
.main .child1_{width:300px;}
.main .child2_{width:210px;}
.main .child3_{width:160px;}
.main .child4_{width:350px;}
.main .child5_{width:220px;}
.main .child6_{width:140px;}
/* 提现 */
.main .child7_{width:300px;}
.main .child8_{width:210px;}
.main .child9_{width:350px;}
.main .child10_{width:216px;}

/* 充值 */
.main .child1{width:240px;}
.main .child2{width:232px;}
.main .child3{width:160px;}
.main .child4{width:232px;}
.main .child5{width:232px;}
.main .child6{width:140px;}
/* 提现 */
.main .child7{width:300px;}
.main .child8{width:210px;}
.main .child9{width:350px;}
.main .child10{width:216px;}
