.header .header-title{width:684px;height:130px;margin:0 auto;overflow-y:hidden;overflow-x:scroll;}
.header .header-title:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.header .header-title-content{position:relative;height:100%;transition-duration: .5s;-webkit-transition-duration: .5s;}
.header .header-title-child{float:left;width:auto;padding:0 14px;height:130px;font-size:48px;display: -webkit-box;-webkit-box-align: center;}
.header .header-title-child{color:#fff;}
.header .header-title-child p{line-height: 64px;-webkit-box-flex: 1;-webkit-box-align: center;}

.content{display:none;}
.content.on{display:block;}

.user-line2{padding:0;}
.user-line .line-title{width:280px;}
.user-line .line-content{width:730px;}

.select .title{line-height:82px;font-size:46px;}
.select .mun{line-height:48px;margin-top:24px;font-size:38px;color:#9d9d9d;}
.select .right{height:70px;line-height:70px;}
/*.select .select-list{display:none;position:absolute;max-height:525px;top:156px;left:0px;right:0px;background:#fff;border-top:1px solid #d5d9e5;overflow-x:hidden;overflow-y:scroll;}
.select .select-list .container{padding:12px 0;border-bottom:1px solid #d5d9e5;}*/
.select .right i:before{color:#17aaff;}
.user-line.select .line-title img{height:72px;vertical-align:bottom;}
.user-line.select .line-banklogo{width: 90px;text-align: right;padding-right: 12px;}
.user-line.select .line-content{width:630px;}
.font-black{padding:40px 0 30px 0;background: initial;border:0px;font-size:46px;width:100%;height: 56px;display: inline-block;margin: 0px;vertical-align: sub;}
.font-red{padding:40px 0 30px 0;background: initial;border:0px;font-size:46px;width:100%;height: 56px;display: inline-block;margin: 0px;vertical-align: sub;}
.font-blue{padding:40px 0 30px 0;background: initial;border:0px;font-size:46px;width:100%;height: 56px;display: inline-block;margin: 0px;vertical-align: sub;}
.user-line.user-line2 .line-content{position:relative;width:510px;z-index:1;}

span.font-black{height:auto;}

.bank-modal{position: fixed;overflow-y:scroll;}


.bankcard .user-line .line-title,.modal .user-line .line-title{padding:30px 44px 30px 0;width:330px;font-size:36px;}
.bankcard .line-content p,.modal .line-content p{padding:30px 0 30px 0;}
.bankcard .user-line .right.btn-small,.modal .user-line .right.btn-small{top:36px;border:0;}
.bankcard .user-line.noselect .line-title,.modal .user-line.noselect .line-title{padding:0;}
.alert.alert-security .security-head{padding-bottom:18px;text-align:center;}
.alert.alert-security .security-head .t1{line-height:46px;color:#000;font-size:38px;}
.alert.alert-security .security-head .t2{line-height:160px;color:#000;font-size:100px;}
.alert.alert-security .security-content .inputText{text-align:center;border:1px solid #ccc;height: 120px;line-height: 120px;color:#000;font-size:64px;}
.alert.alert-security .security-content .inputText::-webkit-input-placeholder{text-align:center;font-size:56px;color:#b1b1b1;}
.alert.alert-security .security-content .inputText::input-placeholder{text-align:center;font-size:56px;color:#b1b1b1;}

.scroll{height: 100%;}
iframe{width: 100%;height: 100%;position:absolute;top:130px;bottom:144px;left:0px;right:0px;border:0;}
.pay_tips{width: 66rem;padding: .5em;margin: 1em auto .2em;;text-align:left;font-size: 40px;line-height: 1.5em;border: 1px solid #F8E2B9;background: #eaebf0;color: #F46E00;}