.user-list{border-top: 1px solid #d5d9e5;}
.user-line .line-title{width:180px;line-height: 140px;}
.user-line .line-title img{ vertical-align: middle;}
.user-line .line-content{line-height:70px;padding:8px 0;color:#000;}
.user-line .line-content h2{line-height: 74px;margin:8px 0;color:#000;font-size:50px;}
.user-line .line-content p{line-height: 54px;margin:8px 0;color:#9d9d9d;font-size:38px;}