.header{background:#ff3131 !important;}
.list{position:relative;margin-top:48px;background:#fff;overflow:hidden;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.list li{border-bottom:1px solid #d2d6e4;height:132px;line-height:132px;}
.list li:hover{background:#efefef;}

.list .icon{margin-right:50px;}
.list span{color:#000;font-size:46px;}
.list .right{position:absolute;top:0px;bottom:0px;right:0px;}
.list .right .icon{margin:0;}
.logout{height:146px;line-height:146px;text-align:center;font-size:52px;color:#ff3535;}