.header {background: none !important;border-bottom: 0px;}

.head{position: relative;height:584px;background:#ff3c3c url(../images/today/bg.jpg) no-repeat center top;background-size:cover;}
.head .head-content{padding-top:214px;text-align: center;color:#fff;text-align: center;}
.head .head-content .p1{line-height: 58px;font-size:34px;}
.head .head-content .p2{line-height: 82px;font-size:72px; font-family: Arial;}
.head .head-msg{position: absolute;height:58px;line-height: 58px;text-align: left;color:#fff;bottom:16px;left:34px;font-size:34px;}
.head .head-msg img,.head .head-content .head-msg span{vertical-align: middle;margin-right:12px;}

.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line{position:relative;padding:24px 0;border-bottom:1px solid #cbcdd7;}
.main .line:hover{background:#efefef;}

.main .line .periods{padding:22px 0;border-right:1px solid #dfe0e3;color:#ff3131;font-family:Arial;float:left;text-align:center;width:346px;}
.main .line .periods .period{display:inline-table;font-size:50px;line-height:50px;}
.main .line .periods .time{line-height:36px;font-size:32px;}
.main .line .content{padding:0 30px;color:#000;float:left;}
.main .line .content .title{line-height:64px;padding:10px 0 4px 0;font-size:46px;}
.main .line .content .money{line-height:32px;font-size:32px;}

.main .line .status{font-size:38px;color:#808080;position:absolute;right:28px;top:0px;bottom:0px;margin:auto 0;height:52px;line-height:52px;text-align:right;}
.main .line.open .status{top:-48px;}
.main .line.open .status2{font-size:32px;color:#808080;position:absolute;right:28px;top:46px;bottom:0px;margin:auto 0;height:52px;line-height:52px;text-align:right;}
