.header {background: none !important;border-bottom: 0px;}

.head{position: relative;height:584px;background:#ff3c3c url(../images/today/bg.jpg) no-repeat center top;background-size:cover;}
.head .head-content{padding-top:214px;text-align: center;color:#fff;text-align: center;}
.head .head-content .p1{line-height: 58px;font-size:34px;}
.head .head-content .p2{line-height: 82px;font-size:72px; font-family: Arial;}
.head .head-msg{position: absolute;height:58px;line-height: 58px;text-align: left;color:#fff;bottom:16px;left:34px;font-size:34px;}
.head .head-msg img,.head .head-content .head-msg span{vertical-align: middle;margin-right:12px;}

.main{padding:12px 30px;margin:28px 0;background:#fff;}
.main .main-content{display: -webkit-box;width:100%;border-bottom:1px solid #d4d4d4;}
.main .main-content:nth-last-child(1){border-bottom:0px;}
.main .child{height:282px;width:33.33%;text-align: center;-webkit-box-flex:1;-webkit-box-align:center;box-sizing: border-box;border-right:1px solid #d4d4d4;}
.main .child:nth-child(3n){border-right: 0px;}
.main .child .child-mun{float:left;width:100%;line-height: 64px;padding-top:64px;font-size:58px;}
.main .child .child-title{float:left;width:100%;line-height: 54px;margin-top:30px;font-size:40px;color:#000;}

