.header{position:relative;/* background: none !important; */border-bottom:0px;}
.header.fixed{position:fixed;}
.main-head{margin-top:-130px;padding-top:130px;background:url(../images/user/save/head-bg2.png) no-repeat center;background-size:cover;}
.main-head .head-message{padding:42px 32px;}
.main-head .head-message .head{position: relative;height:213px;background:url(../images/user/save/head-bg.png) no-repeat center;background-size:cover; }
.main-head .head-message .headimg{position:absolute;top:0px;bottom:0px;left:40px;margin:auto;width:142px;height:142px;border-radius: 142px;-webkit-border-radius: 142px;overflow: hidden;}
.main-head .head-message .headimg img{width:100%;height:100%;}
.main-head .head-message .head-name{padding:45px 0 0 0;color:#fff;line-height:56px;height:56px;font-size:56px;}
.main-head .head-message .head-level{position: absolute;top:52px;right:52px;}
.main-head .head-message .foot{position: relative;font-size:40px;color:#000;text-align:center;padding:42px 4px;background:#fff;min-height: 46px;line-height: 46px;border-radius: 0 0 28px 28px;-webkit-border-radius: 0 0 28px 28px;}
.main-head .head-message .foot p{position: absolute;width:100%;left:0px;top:42px;}
.main-head .head-foot{padding:28px 0 38px 0;height:82px;line-height: 82px;position: relative;display: -webkit-box;}
.main-head .head-foot:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main-head .head-foot .head-money{position: relative;float:left;height:60px;line-height: 60px;border-right:1px solid #605856;padding-right:58px;margin:11px 24px 0 32px;}
.main-head .head-foot .head-money:after{display: block;content:"";position: absolute;bottom:0px;right:24px;background:url(../images/icon/icon-money.png) no-repeat center center;background-size:29px 22px;width:29px;height:22px;}
.main-head .head-foot .head-money .money{font-size:66px;color:#ffdd3f; background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(255, 224, 0)), to(rgb(251, 160, 108)));-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.main-head .head-foot .head-referesh{float:left;position: relative;height:82px;}
.main-head .head-foot .head-referesh img{vertical-align: middle;}
.main-head .head-foot .head-referesh img.on{-webkit-animation-name: rotate;animation-name: rotate;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-duration: 2s;animation-duration: 2s;}
.main-head .head-foot .head-custom-msg{font-size:30px;position: absolute;right:318px;top:36px;height:68px;line-height: 34px;text-align: right;color:#9a9796;}
.main-head .head-foot .head-custom-btn{position:absolute;right:34px;top:28px;width:260px;height:82px;border-radius: 14px;-webkit-border-radius: 14px;background:#f1b106;color:#fff;font-size:36px;text-align: center;}
.main-nav{background:#fff;padding:0 20px 0 20px;margin-top:30px;display: -webkit-box;border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;}
.main-nav .child{padding:34px 0 28px 0;width:25%;-webkit-box-flex:1;-webkit-box-align:center;}
.main-nav .child .child-icon{height:135px;text-align: center;}
.main-nav .child .child-icon img{vertical-align: middle;}
.main-nav .child .child-title{line-height: 46px;text-align: center;color:#000;margin-top:16px;font-size:38px;}
.main-nav .child:hover{background:#efefef;}
.main-content .list{border-top:1px solid #d2d6e4;position:relative;margin-top:48px;background:#fff;overflow:hidden;}
.main-content .list li{border-bottom:1px solid #d2d6e4;height:132px;line-height:132px;}
.main-content .list li:hover{background:#efefef;}

.main-content .list .icon{margin-right:50px;}
.main-content .list span{color:#000;font-size:46px;}
.main-content .list .right{position:absolute;top:0px;bottom:0px;right:0px;}
.main-content .list .right .icon{margin:0;}
.logout{height:146px;line-height:146px;text-align:center;font-size:52px;color:#ff3535;}

.alert-bg{z-index:101;}
.alert{margin: auto 150px;}
.alert-content{padding:60px 36px;font-size: 46px;}
.alert-content{color:#000;}
.color-gray{background-color:#D6D5D5;}

/* 用户等级 */
.icon{font-size:0;display:inline-block;width:50px;height:60px;vertical-align:middle;margin-left:8px;margin-right:15px;margin-left:30px;}
.icon-level1{background:url(../images/user/userlevel/icon-level1.png) no-repeat;}
.icon-level2{background:url(../images/user/userlevel/icon-level2.png) no-repeat;}
.icon-level3{background:url(../images/user/userlevel/icon-level3.png) no-repeat;}
.icon-level4{background:url(../images/user/userlevel/icon-level4.png) no-repeat;}
.icon-level5{background:url(../images/user/userlevel/icon-level5.png) no-repeat;}
.icon-level6{background:url(../images/user/userlevel/icon-level6.png) no-repeat;}
.icon-level7{background:url(../images/user/userlevel/icon-level7.png) no-repeat;}
.icon-level8{background:url(../images/user/userlevel/icon-level8.png) no-repeat;}
.icon-level9{background:url(../images/user/userlevel/icon-level9.png) no-repeat;}
.main-head .head-message .head-name .level{font-size:36px;color:#FFD800;}
.userinfo{margin:0 0 0 204px;}
.userinfo .progress-line{margin-top:36px; color:#fff;}
.userinfo .progress-line .point{vertical-align:text-bottom;padding-left:20px !important;}
.userinfo .progress-line .point, .userinfo .progress-line a{font-size:28px;color:#fff;padding-left:30px;}
.progressbar { position: relative;left:0;top:-2px;display:inline-block; height: 15px; width: 270px; color:#000; background-color: #fff; border-radius: 40px; text-align: center; line-height: 15px; font-size: 0.8em;z-index:1; }
.progress { position: absolute; height: 100%; background-color: #FFD800; border-radius: 5px;z-index:-1; }

/*等级头衔页*/
.header{height:150px;line-height:150px;}
.header .header-title{font-size:60px;}
.bg-white{background-color:#fff;}
.main{padding:0 30px;}
.main .level-item{font-size:48px;}
.main .level-item h2{font-size:54px;margin: 70px 0;margin-bottom: 30px;position:relative;padding-left:60px;}
.main .level-item h2:before{content:'';position:absolute;left:0;top:14px;width:25px;height:25px;background-color:#000;border-radius:50%;}
.main .level-item .gray{color:#999;font-size:44px;line-height:70px;}
.icon-tip{background:url(../images/user/icon-tip.png) center 6px  no-repeat;margin-left:0;}
.main .level-item h5{color:#FF680D;margin-top:45px;margin-bottom:15px;}
.main .level-item .orange{color:#FF680D}
.main .level-item .level-step{width:100%;margin:70px 0;}
.mb60{margin-bottom:60px !important;}
.pb100{padding-bottom:100px;}
.main .level-item table{width:100%;border-collapse: collapse;color: #555; }
.main .level-item table th{background-color:#F5F5F5;}
.main .level-item table th,.main .level-item table td{width:20%;text-align:center;padding:30px 0;border:3px solid #D7D7D7;}
.main .level-item table td{font-size:44px;}

/* 顶部返回按钮样式和底下icon冲突 */
.header .icon{width: auto;height: auto;margin-left: 0;}