.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main .titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .titles{padding:36px 0;font-size:30px;color:#8a8a8a;text-align:center;}
.main .line{padding:26px 0;font-size:30px;color:#000;text-align:center;border-top:1px solid #dfe1eb;}
.main .child{float:left;}
.main .child p{line-height:38px;}
.main-head{height:382px;overflow-y:scroll;}
.main-head .child{box-sizing:border-box;}
.main-head .child1{width:355px;}
.main-head .child2{width:326px;}
.main-head .child3{width:242px;}
.main-head .child4{width:154px;}

.main-content .child1{width:240px;}
.main-content .child2{width:70px;}
.main-content .child3{width:170px;}
.main-content .child4{width:280px;}
.main-content .child5{width:150px;}
.main-content .child6{width:170px;}

.main-content .cc{color:#fff;padding:4px 8px 6px 8px;font-size:32px;border-radius:3px;-webkit-border-radius:3px;}
.main-content .cc.child-small{background:rgb(243, 195, 105);}
.main-content .cc.child-big{background:#f8a21c;}
.main-content .cc.child-odd{background:rgb(121,127,255);}
.main-content .cc.child-even{background:#5b6099;}