.header .header-title{width:638px;margin:0 auto;}
.header .header-title:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.header .header-title-content{display:-webkit-box;overflow:hidden;margin-top:24px;position:relative;height:84px;line-height:84px;border:1px solid #ffffff;border-radius:12px;-webkit-border-radius:12px;transition-duration: .5s;-webkit-transition-duration: .5s;}
.header .header-title-child{width:50%;color:#fff;font-size:36px; height:86px;display:block;opacity:1;border-right:1px solid #fff;box-sizing: border-box;}
.header .header-title-child.on{color:#df333a;background:#ffffff;}

.header .header-title-child:last-child{border-right:0px;}

.content{display:none;}
.content.on{display:block;}


.user-line .inputText{font-size:44px;color:#000;}
.excel-btn{display:inline-block;background:#e0e0e0;vertical-align:middle;width:62px;height:62px;line-height:54px;text-align:center;border-radius:62px;-webkit-border-radius:62px;}
.excel-btn:hover{background:#ff3131;}
.excel-btn img{vertical-align: middle;}
.excel-text{display:inline-block;vertical-align: middle;width:160px;height:62px;text-align:center;}
.excel-text .inputText{height:62px;line-height:62px;color:#000;font-size:46px;text-align:center;}

.list{padding:14px 0 38px 0;}
.list .user-btn{margin-top:38px;}
.list .child{float:left;text-align:center;}
.list .child1{width:260px;}
.list .child2{width:492px;}
.list .child3{width:264px;}
.titles{height:105px;border-bottom:1px solid #e5e5e5;}
.titles .child{height:105px;line-height:105px;color:#000;font-size:40px;}
.titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.line{border-bottom:1px solid #e5e5e5;}
.line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.line .child{height:90px;line-height:90px;font-size:38px;color:#8d8d8d;}


.consume_report_detail .main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.consume_report_detail .main:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.consume_report_detail .main-child{border-bottom:1px solid #d2d6e4;border-right:1px solid #d2d6e4;text-align:center;width:33.33%;float:left;padding:32px 0 20px 0;box-sizing:border-box;}
.consume_report_detail .main-child .child-value{color:#ff3c3c;font-size:58px;line-height:58px;}
.consume_report_detail .main-child .child-title{color:#8a8a8a;font-size:32px;line-height:42px;padding:12px 0;}