

.main{background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.main-child{position:relative;height:188px;line-height:188px;border-bottom:1px solid #f0f1f5;}
.main-child .container{height:100%;}
.child-content{padding:34px 100px 0 0px;color:#000;}
.child-content .title{line-height:62px;font-size:50px;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.child-content .info{color:#6e6e6e;height:46px;overflow:hidden;line-height:46px;margin-top:13px;font-size:38px;font-family: "宋体";}
.child-content .info span{vertical-align:middle;}
.sender{position: absolute;top: 28px;right: 0px;height: 42px;line-height: 42px;font-size: 32px;text-align: right;}
.statue{color:#fff !important;position:absolute;top:92px;right:0px;text-align:center;width:120px;height: 64px;line-height: 64px;font-size:36px;border-radius:12px;-webkit-border-radius:12px;}

.pointer{position:absolute;right:0px;top:70px;}
.pointer:before{color:#dbdadd;font-size:40px;}