.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line{position:relative;padding:24px 0;border-bottom:1px solid #cbcdd7;}
.main .line:hover{background:#efefef;}

.main .line .periods{padding:22px 0;border-right:1px solid #dfe0e3;color:#ff3131;font-family:Arial;float:left;text-align:center;width:345px;}
.main .line .periods .period{display:inline-table;font-size:50px;line-height:50px;}
.main .line .periods .time{line-height:36px;font-size:32px;}
.main .line .username{float:left;font-size: 42px;line-height: 130px;width: 240px;text-align: center;color: #000;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main .line .content{padding:0 30px;color:#000;float:left;/* padding-left: 85px; */text-align: center;}
.main .line .content .title{line-height:64px;padding:10px 0 4px 0;font-size:46px;}
.main .line .content .money{line-height:32px;font-size:32px;}

.main .line .status{font-size:38px;color:#808080;position:absolute;right:40px;top:0px;bottom:0px;margin:auto 0;height:52px;line-height:52px;text-align:right;}
.main .line.open .status{top:-48px;}
.main .line.open .status2{font-size:32px;color:#808080;position:absolute;right:97px;top:46px;bottom:0px;margin:auto 0;height:52px;line-height:52px;text-align:right;}