
.list{padding:14px 0 38px 0;}
.list .user-btn{margin-top:38px;}
.list .child{float:left;text-align:center;}
.list .child1{width:250px;word-wrap:break-word}
.list .child2{width:200px;word-break:break-word;}
.list .child3{width:170px;}
.list .child4{width:120px;}
.list .child5{width:160px;}
.titles{height:105px;border-bottom:1px solid #e5e5e5;}
.titles .child{height:105px;line-height:105px;color:#000;font-size:40px;}
.titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.line{border-bottom:1px solid #e5e5e5;padding: 32px 0;}
.line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.line .child{font-size:38px;color:#8d8d8d;line-height:42px;}
.user-line .line-title{width:126px;}
.user-line .line-content{width:292px;}