.main .head{position:relative;z-index:1;padding:54px 0 40px 0;background:#fff;box-shadow:0 1px 5px rgba(0,0,0,0.2);-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.2);}
.main .head:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .head .logo{position:relative;float:left;text-align:center;line-height:128px;width:280px;height:128px;}
.main .head .logo img{vertical-align:middle;max-width:100%;max-height:100%;}
.main .head .headcontent{float:left;padding:0 26px;}
.main .head .headcontent .title{line-height:62px;font-size:44px;}
.main .head .headcontent .periods{line-height:64px;font-size:38px;color:#686a7b;}
.main .head .status{font-size:38px;color:#808080;position:absolute;right:28px;top:0px;bottom:0px;margin:auto 0;height:52px;line-height:52px;text-align:right;}
.main .content{padding:8px 0;background:#fff}
.main .content .line{overflow:hidden;padding:20px 0;line-height:56px;font-size:40px;border-bottom:1px solid #d5d5d5;}
.main .content .line.no{border-bottom:0px;}
.main .content .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}

.main .content .line-title{width:274px;float:left;color:#000;}
.main .content .line-content{float:left;color:#808080;}
.main .content .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .content .line-content .mun{display:inline-block;margin:6px;color:#fff !important;width:104px;height:104px;line-height:104px;text-align:center;border-radius:104px;-webkit-border-radius:104px;}
.main .content .line-content .mun.mun-small{width:90px;height:90px;line-height:90px;margin:6px 4px;}
.main .content .line-title.full{float:none;}
.main .content .line-content.full{float:none;padding:20px 0;}

.main .foot{background:#f0f1f5;padding-top:26px;}
.main .foot .title{line-height:60px;color:#a8a8a8;font-size:40px;}
.main .foot .footcontent{position:relative;padding-top:6px;}
.main .foot .sub{height:12px;position:absolute;left:-8px;right:-8px;top:0px;background:#d9dbe1;border-top:1px solid #c5c7d0;border-radius:12px;-webkit-border-radius:12px;}
.main .foot .lines{position: relative;background:#fff;padding:12px 34px 0 34px;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.main .foot .line{overflow:hidden;padding:26px 0;border-bottom:1px solid #e3e3e6;line-height:56px;font-size:40px;}
.main .foot .line-title{width:564px;float:left;}
.main .foot .line-title .dice{width:64px;}
.main .foot .line-content{width:380px;float:right;color:#808080;text-align:right;}

.symbol{display: inline-block;margin-top: -10px;}
.lhc-green{border:0;}
.lhc-blue{border:0;}
.lhc-red{border:0;}
.lhc-yellow{border:0;}
.lhc-item{display:inline-block;text-align: center;}
.lhc-shengxiao.lhc-green{color:#21c128;background: none;border:0;}
.lhc-shengxiao.lhc-blue{color:#128bf1;background: none;border:0;}
.lhc-shengxiao.lhc-red{color:#ed4e4e;background: none;border:0;}
.lhc-shengxiao.lhc-yellow{color:#ffca12;background: none;border:0;}