

.main{background:#fff;box-shadow:0 0 8px rgba(0,0,0,0.1);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.1);}
.main-head{position:relative;height:auto;line-height:188px;border-bottom:1px solid #f0f1f5;}
.main-head .container{height:100%;}
.main-head{padding:34px 0px 20px 0;color:#000;}
.main-head .title{line-height:62px;font-size:50px;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.main-head .info{color:#6e6e6e;line-height:46px;margin-top:13px;font-size:38px;font-family: "宋体";}
.main-head .info span{vertical-align:middle;}
.sender{position: absolute;top: 28px;right: 0px;height: 42px;line-height: 42px;font-size: 32px;text-align: right;}
.main-content{padding:32px 0;line-height:44px;font-size:28px;color:#666;}
.main-content p{padding:8px 0;line-height:44px;font-size:28px;color:#666;}
.main-content img{max-width:100%;height:auto;}