.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main .titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line:hover{background:#efefef;}
.main .titles{padding:36px 0;font-size:30px;color:#8a8a8a;text-align:center;}
.main .line{padding:26px 0;font-size:30px;color:#000;text-align:center;border-top:1px solid #dfe1eb;}
.main .child{float:left;}
.main .child p{line-height:38px;}
.main .child1{width:320px;}
.main .child2{width:200px;}
.main .child3{width:100px;}
.main .child4{width:200px;}
.main .child5{width:216px;}