.lottery-classify{display:none;position:fixed;top:130px;left:0px;right:0px;background:#fff;z-index:91;}
.lottery-classify .container{overflow-x:scroll;overflow-y:hidden;}
.lottery-classify .container:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify .move-content{padding:42px 0;}
.lottery-classify .clist{display:none;}
.lottery-classify .child{float:left;color:#000;margin:6px 12px 6px 0;font-size:36px;height:75px;line-height:75px;text-align:center;}
.lottery-classify .child.color-blue{color:#fff !important;}
.lottery-classify .child.color-red{color:#fff !important;}
.lottery-classify .child.no{opacity: 0.4;}
.lottery-classify .child p{padding:0 18px;}
.lottery-classify-list{border-top:1px solid #dbdce3;padding:12px 0;}
.lottery-classify-list .list-line{padding:24px 0;line-height:87px;border-bottom:1px dashed #c2c2c2;}
.lottery-classify-list .list-line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-title{margin-right:30px;color:#a5a5a5;font-size:32px;float:left;width:102px;text-align:right;}
.lottery-classify-list .line-content:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.lottery-classify-list .line-content{float:left;width:876px;}
.lottery-classify.lottery-classify1{width:360px;left:initial;right:0px;}
.lottery-classify.lottery-classify1 .child{display:block;float:none;margin:12px 0;}
.nav-bar{z-index:89;}

.main{margin:36px 0;background:#fff;border-top:1px solid #e1e3ec;}
.main .titles:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .line:after{content: ""; display: block; height: 0; clear: both;visibility:hidden;}
.main .titles{padding:36px 0;font-size:30px;color:#8a8a8a;text-align:center;}
.main .line{padding:26px 0;font-size:30px;color:#000;text-align:center;border-top:1px solid #dfe1eb;}
.main .child{float:left;}
.main .child p{line-height:38px;}
.main .child1{width:360px;}
.main .child2{width:160px;}
.main .child3{width:160px;}
.main .child4{width:140px;}
.main .child5{width:216px;}
.main .child6{width:140px;}