html, body {
    height: 100%;width:99.99%;
}

.warp {
    height: 100%;
    background: #7b8aa1;
}


.top_c {
    background: url(../img/logo.png) no-repeat #586683;
    height: 97px;
    position: relative;
}

.top-nav {
    position: absolute;
    width: 348px;
    text-align: right;
    bottom: 20px;
    right: 10px;
    color: #afbbd5;
}

    .top-nav a:link {
        color: #afbbd5;
    }

.top-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    background: url(../img/top-menu-bg-left.gif) no-repeat;
    padding-left: 52px;
}

    .top-menu .top-menu-nav {
        white-space: nowrap;
        height: 52px;
        background: url(../img/top-menu-con.gif) repeat-x;
        margin: 0;
        padding: 0;
    }

        .top-menu .top-menu-nav li {
            white-space: nowrap;
            float: left;
            margin: 4px 0;
            border-right: 1px dotted #5A6885;
            padding: 0 18px;
        }

.top-menu-nav .kidc {
    background: #FEFAF4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 9999;
    position: absolute;
    padding: 5px 0;
    margin-left: -10px;
    margin-top: 10px;
    border: 1px solid #afbbd5;
    display: none;
}

    .top-menu-nav .kidc li {
        float: none;
        background: none;
        border: none;
        padding: 3px 20px;
    }

        .top-menu-nav .kidc li:hover {
            background: #3a6aee;
            color: #FFF;
        }

        .top-menu-nav .kidc li a:hover {
            background: #3a6aee;
            color: #FFF;
            text-decoration: none;
        }


.left_c {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #d1d8e2;
    width: 235px;
    position: absolute;
    top: 105px;
    left: 8px;
    overflow: hidden;
    bottom: 34px;
}

    .left_c .acc {
        position: absolute;
        bottom: 0;
        top: 36px;
        width: 100%;
        overflow: auto;
    }

    .left_c h1 {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #323d53;
        text-indent: 15px;
        font-size: 15px;
        background: #b0bbd1;
        background: -moz-linear-gradient(top, #cfd6e9, #9da6c3);
        background: -webkit-linear-gradient(top, #cfd6e9, #9da6c3);
        background: -o-linear-gradient(top,#cfd6e9, #9da6c3);
    }

    .left_c ul {
        margin: 0;
        padding: 0;
        display: none;
    }

.one {
    text-indent: 25px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #323d53;
    padding: 4px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #949ab4;
    background: -moz-linear-gradient(top, #e0e3f2, #bac9ec);
    background: -webkit-linear-gradient(top, #e0e3f2, #bac9ec);
    background: -o-linear-gradient(top,#e0e3f2, #bac9ec);
}

.left_c a.one:hover {
    text-decoration: none;
    color: #7f031b;
    background: #F5B201;
    border-top: 1px solid #FEDE7B;
    border-bottom: 1px solid #C3262D;
    background: -moz-linear-gradient(top, #fedf7c, #eca201);
    background: -webkit-linear-gradient(top, #fedf7c, #eca201);
    background: -o-linear-gradient(top,#fedf7c, #eca201);
}

.one-hover {
    color: #7f031b;
    background: #F5B201;
    border-top: 1px solid #FEDE7B;
    border-bottom: 1px solid #C3262D;
    background: -moz-linear-gradient(top, #fedf7c, #eca201);
    background: -webkit-linear-gradient(top, #fedf7c, #eca201);
    background: -o-linear-gradient(top,#fedf7c, #eca201);
}

.kid li {
    text-indent: 25px;
    cursor: pointer;
    padding: 4px 0;
    background: #fefbf6;
    border-bottom: 1px solid #8e9db0;
    background: -moz-linear-gradient(top, #feffff, #fff4e8);
    background: -webkit-linear-gradient(top, #feffff, #fff4e8);
    background: -o-linear-gradient(top,#feffff, #fff4e8);
}

    .kid li:hover {
        color: #810026;
        background: -moz-linear-gradient(top, #feffff, #fffaf6);
        background: -webkit-linear-gradient(top, #feffff, #fffaf6);
        background: -o-linear-gradient(top,#feffff, #fffaf6);
    }

.kid .tip {
    height: 0;
    width: 8px;
    border: 4px solid transparent;
    border-left-color: #000;
    display: inline-block;
}


.alert .tip {
    height: 0;
    margin: 0 8px;
    border: 4px solid transparent;
    border-left-color: #000;
    display: inline-block;
}

.tip-down {
    height: 0;
    margin: 0 8px;
    border: 4px solid transparent;
    border-bottom-color: #000;
    display: inline-block;
}

.tip-left {
    height: 0;
    margin: 0 8px;
    border: 4px solid transparent;
    border-left-color: #000;
    display: inline-block;
}

.tip-up {
    height: 0;
    margin: 0 8px;
    border: 4px solid transparent;
    border-top-color: #000;
    display: inline-block;
}

.tip-up-red {
    height: 0;
    margin: 0 8px;
    border: 4px solid transparent;
    border-top-color: #000;
    display: inline-block;
}

#datepicker {
    font-family: "Vani";
}

.right_c {
    position: relative;
    background: #d1d8e2;
    position: absolute;
    bottom: 34px;
    left: 260px;
    top: 105px;
    border-top: 1px solid #687295;
    border-left: 1px solid #687295;
    right: 0;
    border-top-left-radius: 8px;
}

.nav-tip {
    cursor: pointer;
    width: 12px;
    background: url(../img/nav-tip.gif) no-repeat;
    left: -12px;
    top: 50%;
    height: 73px;
    position: absolute;
    background-position-x: 0;
}

.Conframe {
    border-radius: 8px;
    border: 1px solid #b3baca;
    background: #FFF;
    position: absolute;
    left: 268px;
    top: 113px;
    overflow: auto;
    right: 8px;
    bottom: 42px;
    z-index: 999;
    padding: 8px;
}

#Conframe {
    border: none;
    height: 100%;
    width: 100%;
} 

.bottom_c {
    position: absolute;
    bottom: 0;
    background: #586683;
    width: 100%;
    text-align: center;
    color: #CCD8E8;
    padding: 8px 0;
}

.jsstar
{   list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 20px;
    position: relative;
    
    }
.jsstar li  
{
   padding:0px;
   margin: 0px; 
   float: left; 
   width:20px;
   height:20px;
   background:url(../img/star_rating.gif) 0 0 no-repeat;
} 

.jsstar_bright {
	background-position : left bottom;
}