@charset "utf-8";

/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #555;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size:14px;background:#000;text-align:left;line-height:20px;min-width:1200px; height:100%;}
img {border:0;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;padding:0px;list-style:none;list-style-type:none; border:none;}
header, footer, nav, section, article, menu, aside {display:block;}
a { text-decoration:none;} 
textarea { resize:none;font-family:"微软雅黑";font-size:14px;}
table { border-collapse:collapse;border-spacing:0;}
th , td { text-align:left;}
input {font-family:"微软雅黑";font-size:14px;}
input:focus {outline:none;}
input.sub {cursor:pointer; background:none; border:none;}
input.text {background:none; border:none;}

.maintop { width:100%; height:45px; background:#000;}
/* 上部 */
.mainbox { width:100%; background:url(../images/bg01.jpg) no-repeat center top; min-height:880px;position:relative;}
.headbox { background:url(../images/bg03.png) no-repeat center top; width:860px; height:172px; position:relative; margin:0 auto;}
.headbox .logo { position:absolute; left:15px; top:45px;}
.headbox .btn { display:block; border:1px solid #474747; color:#474747; line-height:20px; width:85px; padding-left:15px; position:absolute; left:15px; top:110px;}
.headbox .btn01 { top:135px;}
.headbox .time { position:absolute; left:153px; top:50px; color:#9d9d9d; font-size:16px;}
.resultimg { position:absolute; left:388px; top:62px;}
.resultimg p { display:block; width:42px; height:45px; background:url(../images/res02.png) no-repeat 0px 0px; position:absolute; left:20px; top:0px;}
.resultimg p.p1 { left:0px; top:38px;}
.resultimg p.p2 { left:45px; top:35px;}
.resultimg p.six01 { background-position:0px 0px;}
.resultimg p.six02 { background-position:-45px 0px;}
.resultimg p.six03 { background-position:-90px 0px;}
.resultimg p.six04 { background-position:0px -45px;}
.resultimg p.six05 { background-position:-45px -45px;}
.resultimg p.six06 { background-position:-90px -45px;}
/*此.six对应不同的数字，分别是1-6，只需修改css就可得*/
.resultbox { width:305px; position:absolute; right:20px; top:50px;}
.resultbox h3 { width:100%; color:#98c05e; font-size:14px; position:relative;}
.resultbox h3 a { position:absolute; right:0; top:0; font-weight:400; color:#8b8b8b; font-size:14px;}
.resultbox ul { position:relative; width:325px; height:80px; overflow:auto; margin-top:5px;}
.resultbox li { width:100%; height:20px; position:relative;}
.resultbox li b { float:left; width:16px; height:16px; background:url(../images/res01.png) no-repeat 0px 0px; display:block; margin-left:2px; position:relative; top:2px;}
.resultbox li b.re01 { background-position:0px 0px;}
.resultbox li b.re02 { background-position:-17px 0px;}
.resultbox li b.re03 { background-position:-34px 0px;}
.resultbox li b.re04 { background-position:0px -17px;}
.resultbox li b.re05 { background-position:-17px -17px;}
.resultbox li b.re06 { background-position:-34px -17px;}
.resultbox li p { float:left; line-height:20px; font-size:14px; color:#8b8b8b; width:60px; text-align:right;}
.resultbox li p.p4 { width:70px;color:#ffb100;}
.resultbox li p.p2 { color:#98c05e;}

/* 底部信息 */
.toufoot { position: fixed; z-index:99; left:0; bottom:0; height:120px; background:#222; border-top:1px solid #3d3d3d; width:100%; padding-top:5px; min-width:1200px;}
.toufootmain { width:100%; background:#302f2f; height:80px; border-top:1px solid #1f1f1f; border-bottom:1px solid #3d3d3d; position:relative;}
.choosemain { width:1000px; margin:0 auto; position:relative;}
.pricebox { float:left; width:200px; height:60px; border-right:1px solid #181818; top:10px; position:relative; color:#fff; font-size:14px; line-height:30px;}
.pricebox span { color:#f29e00;}
.nowchoose { width:340px; height:60px; position:relative; top:10px; border-left:1px solid #545454; border-right:1px solid #181818; float:left;}
.nowchoose a.more { float:left; margin-left:10px;}
.morechoose { height:50px; position:absolute; left:205px; top:-70px; background:url(../images/choose.png) repeat; width:520px; border-radius:5px; padding-top:10px; display:none;}
.morechoose a { float:left; margin:0 0 0 2px;}
.payinput { width:215px;height:60px; position:relative;top:10px; border-left:1px solid #545454; border-right:1px solid #181818; float:left;}
.payinput dl { width:50%; float:left; text-align:center; position:relative;}
.payinput dt { width:100%; line-height:30px;}
.payinput dt a {color:#fff; font-size:14px;}
.payinput dt span { color:#999; margin-left:5px;}
.payinput dd { width:100%;}
.payinput dd a { display:block; float:left; width:20px; height:20px; line-height:18px; text-align:center; background:#fff; color:#4e4e4e; font-weight:bold;border-radius:50%; top:5px; position:relative; font-size:18px; margin-left:7px;}
.payinput dd input { float:left; width:40px; height:28px; line-height:28px; border:1px solid #1c1e17; background:#282828; border-radius:5px; text-align:center;margin-left:5px; color:#ddc600;}
.paybtn {width:238px;height:60px; position:relative;top:10px; border-left:1px solid #545454; float:left;}
.paybtn a.a1 { position:relative; float:left; margin-left:2px; top:15px; height:30px; line-height:30px; font-size:14px; border-top:1px solid #353535; background:#353535; text-align:center; display:block; border-radius:5px; width:50px; color:#999;}
.paybtn a.a1:hover {color:#000; background:#7e7e7e; border-color:#682637;}
.paybtn a.a1no,.paybtn a.a1no:hover { color:#5f5f5f;background:#7e7e7e;border-color:#474747;}
.paybtn a.a2 { position:absolute; right:0; top:-10px; border:1px solid #1f1f1f; display:block; border-top:none;}

/* 中部主要展示 */
.toushow { background:url(../images/bg02.png) no-repeat; width:964px; height:414px; margin:0 auto; position:relative; top:95px; display: block;}
.toushow li { position:absolute; left:0; top:0;}
.toushow li img.hover { opacity:0;-webkit-opacity:0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;}
.toushow li:hover img.hover { opacity:1;-webkit-opacity:1;}
.toushow li p { background:url(../images/darkbg.png) repeat; color:#fff; font-size:14px; display:inline-block; height:20px; line-height:20px; padding:0px 5px; top:-23px; display:none;}
.toushow a.ming { display:block; width:16px; height:16px; line-height:16px; background:999; color:#ccc; font-size:14px; position:absolute; left:25px; top:10px; background:url(../images/darkbg.png) repeat; border-radius:50%; text-align:center;}
.toushow a.ming p { position:absolute; padding:10px;background:url(../images/darkbg.png) repeat; border-radius:5px; width:300px; color:#fff; font-size:14px; line-height:20px; text-align:left; left:20px; top:-20px; display:none;}
.toushow a.ming:hover p { display:block;}

.toushow li b { position:absolute; left:0; bottom:10px; z-index:150;}

/* 数字样式 */
.nownum { width:46px; height:45px; overflow:hidden; position:relative; float:left; margin-left:5px;}
.nownum a { top:15px;}
.nownumsel a { top:0;}
.selnum { display:block;background:url(../images/check01.png) no-repeat 0px top; height:46px; width:50px; position:relative;}
.chnum { background:url(../images/check02.png) no-repeat 0px top;}
.num01 { background-position:0px;}
.num02 { background-position:-50px;}
.num03 { background-position:-100px;}
.num04 { background-position:-150px;}
.num05 { background-position:-200px;}
.num06 { background-position:-250px;}
.num07 { background-position:-300px;}
.num08 { background-position:-350px;}
.num09 { background-position:-400px;}
.num10 { background-position:-450px;}

#nowchoose { float:left;}

.prize_window{
	position: fixed;
	display: none;
	height: 400px;
	width: 450px;
	left:50%;
	top:50%;
	margin-left: -225px;
	margin-top: -200px;
	background-color: rgba(23, 23, 22, 0.8);
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	border:1px solid #2d2d2d;
	border-color: #2d2d2d;
	padding:10px;
	padding-bottom: 20px;
	z-index:400;
}

.prize_window .close{
	height: 28px;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
	font-weight: 700;
	line-height: 28px;
}
.prize_window .close a{
	float: right;
	font-size: 24px;
	color: #737272;
}
.prize_window .close a:hover{
	color: #c17f00;
}

.prize_window .btns{
	margin-top:20px;
	text-align: center;
}
.prize_window .btn{
	display: inline-block;
	height: ;
	border: none;
    border-top: 1px solid #6c6c6c;
    border-radius: 3px;
    padding: 5px 10px;
    color: #a8a8a8;
    cursor: pointer;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 2px;
    line-height: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    height: auto;
    font-weight: normal;
}
.prize_window .btn1{
		background-color: #38601f;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#39611f), to(#30521a) );
		border-top-color: #5fa434;
   		color: #b1d69a;
	}
.prize_window .btn1:hover{
	background-color: #2d4c19;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#294617), to(#406d23) );
    background-image: -moz-linear-gradient( top, #294617, #406d23 );
    background: #2d4c19\9;
    border-top-color: #447525;
    color: #b1d69a;
	}
.prize_window .btn2{
	background-color: #3b3b3b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#353535) );
    background-image: -moz-linear-gradient( top, #404040, #353535 );
    border: none;
    border-top: 1px solid #6c6c6c;
    border-radius: 3px;
    padding: 5px 10px;
    color: #a8a8a8;
    cursor: pointer;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 2px;
    line-height: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    height: auto;
    font-weight: normal;
}	
.prize_window .btn2:hover{
	background-color: #414141;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#484848) );
    background-image: -moz-linear-gradient( top, #2e2e2e, #484848 );
    background: #414141\9;
    border-top-color: #4d4d4d;
    color: #a8a8a8;
}











