.record{
	width: 1000px;
	margin:0 auto;
    background: #302f2f;
    min-height: 80px;
    border-top: 1px solid #1f1f1f;
    border-bottom: 1px solid #3d3d3d;
    position: relative;
    margin-top: 15px;
    display: none;
}
.record thead{
	color: #b19464;
	font-size: 14px;
}
.record .more{
	float: right;
	color: #737272;
	text-decoration: underline;
	cursor: pointer;
	line-height: 50px;
}
.record .close{
	font-size: 20px;
	float: right;
	color: #737272;
	margin-left: 10px;
	line-height: 50px;
}
.record .close:hover{
	color: #c17f00;
}
.toufoot{
	height: auto;
	/*overflow: auto;*/
}
.footer{
	height: 40px;
	width: 100%;
	text-align: center;
	color: #444;
	background-color: #222;
	line-height: 40px;
	font-size: 12px;
}


.tou_miniwindow{
	position: fixed;
	display: none;
	height: 400px;
	width: 450px;
	left:50%;
	top:50%;
	margin-left: -225px;
	margin-top: -200px;
	background-color: rgba(23, 23, 22, 0.8);
	box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	border:1px solid #2d2d2d;
	border-color: #2d2d2d;
	padding:10px;
	padding-bottom: 20px;
	z-index:400;
}

.tou_miniwindow .close{
	height: 28px;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
	font-weight: 700;
	line-height: 28px;
}
.tou_miniwindow .close a{
	float: right;
	font-size: 24px;
	color: #737272;
}
.tou_miniwindow .close a:hover{
	color: #c17f00;
}
.tou_miniwindow ul{
	font-size: 14px;
	color: rgb(199, 191, 138);
	padding:10px;
}
.tou_miniwindow ul li{
	margin-top: 10px;
    margin-bottom: 10px;
    line-height: 34px;
}
.tou_miniwindow .textarea{
	display: inline-block;
	background-color: #141414;
	border: 1px solid #404040;
	font-size: 12px;
	vertical-align: top;
	line-height: 25px;
	width: 320px;
    height: 84px;
    overflow-y: auto;
	box-shadow: 0 1px 3px rgba(206,206,206,0.2) inset;
	padding: 7px 4px;
}
.tou_miniwindow .btns{
	margin-top:20px;
	text-align: center;
}
.tou_miniwindow .btn{
	display: inline-block;
	height: ;
	border: none;
    border-top: 1px solid #6c6c6c;
    border-radius: 3px;
    padding: 5px 10px;
    color: #a8a8a8;
    cursor: pointer;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 2px;
    line-height: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    height: auto;
    font-weight: normal;
}
.tou_miniwindow .btn1{
		background-color: #38601f;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#39611f), to(#30521a) );
		border-top-color: #5fa434;
   		color: #b1d69a;
	}
.tou_miniwindow .btn1:hover{
	background-color: #2d4c19;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#294617), to(#406d23) );
    background-image: -moz-linear-gradient( top, #294617, #406d23 );
    background: #2d4c19\9;
    border-top-color: #447525;
    color: #b1d69a;
	}
.tou_miniwindow .btn2{
	background-color: #3b3b3b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#353535) );
    background-image: -moz-linear-gradient( top, #404040, #353535 );
    border: none;
    border-top: 1px solid #6c6c6c;
    border-radius: 3px;
    padding: 5px 10px;
    color: #a8a8a8;
    cursor: pointer;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 2px;
    line-height: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    height: auto;
    font-weight: normal;
}	
.tou_miniwindow .btn2:hover{
	background-color: #414141;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#484848) );
    background-image: -moz-linear-gradient( top, #2e2e2e, #484848 );
    background: #414141\9;
    border-top-color: #4d4d4d;
    color: #a8a8a8;
}
.tou_miniwindow .red{
	color:#EE4443!important;
	padding-left: 10px;
}

.toufootmain{height: auto;}
.choosemain{height: 80px;}


.paybtn a.a1no{
	background-color: #c48700;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c48700), to(#fec500) );
    border-top-color: #be1a44;
    color: #000;
}
.paybtn a.a1no:hover{
	background-color: #ffe600;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdc400), to(#c38600) );
	background-image: -moz-linear-gradient( top, #fdc400, #c38600 );
	background:#ffe600\9;
	border-top-color: #881231;
	color: #000;
}
.paybtn a.a1no2{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #3b3b3b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#353535) );
	background-image: -moz-linear-gradient( top, #404040, #353535 );
	border: none;
	border-top: 1px solid #6c6c6c;
	border-radius: 3px;
	color: #a8a8a8;
	cursor: pointer;
	vertical-align: middle;
	font-size: 14px;
	margin: 0 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	height: auto;
	font-weight: normal;
}
.paybtn a.a1no2:hover,.paybtn a.a1no3{
	background-color: #414141;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#484848) );
	background-image: -moz-linear-gradient( top, #2e2e2e, #484848 );
	background:#414141\9;
	border-top-color: #4d4d4d;	
	color: #a8a8a8;
}

.mCSB_dragger_bar{
	
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #5f5f5f !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover{
	background-color: #5f5f5f !important;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background: #3a3a3a;
}
.resultbox li p{
	width: 58px;
}
.resultbox li p.p4{
	width: 66px;
}


.maintop{
	height: 40px;
	width: 980px;
	margin:0 auto;
	color: #fff;
	line-height: 40px;
	
}
.maintop li{
	float: left;
	margin-left: 10px;
}
.maintop a{
	color: #fff;
}
.maintop .left{
	float: left;
}
.maintop .left li{

}
.maintop .right{
	float: right;
}
.maintop .a1 a:hover{
	color: #fff110
}
.maintop .down{
	padding-right: 23px;
	position: relative;
}
.maintop .down::before{
	content: '';
	position: absolute;
	height: 40px;
	width: 23px;
	right: 0;
	top:0;
	background-image: url(../images/ico01.png);
	background-position: right 18px;
}
.maintop .left .shade{
	position: absolute;
    top: 45px;
    left: 0;
    background: #F5F5F5;
    border: 1px solid #D8D8D8;
    padding: 4px;
    z-index: 99;
    display: none;
}
.maintop .left .shade::before{
	content: '';
	position: absolute;
	left:10px;
	top:-7px;
	height: 7px;
	width: 7px;
	width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid #DFDFDF;
}
.maintop .left .shade ul{
	border: 1px solid #DFDFDF;
    background-color: #FFF;
    background-position: 0 0;
    overflow: visible;
}
.maintop .left .shade li{
	position: relative;
	border-top: 1px solid #e7e7e7;
	float: none;
	margin-left: 0;
}
.maintop .left .shade .left_title{
	line-height: 26px;
    font-size: 14px;
    color: #009a87;
    position: absolute;
    left: 10px;
    top: 8px;
    width: ;
}
.maintop .left .shade .right_nav{
	width: 200px;
    padding: 8px 0 4px 105px;
    overflow: hidden;
}
.maintop .left .shade .right_nav a{
	position: relative;
    display: block;
    width: 90px;
    float: left;
    font-size: 12px;
    text-indent: 8px;
    line-height: 24px;
    border: 1px solid #ececec;
    border-radius: 3px;
    margin: 0 8px 4px 0;
    color: #666;
}
.maintop .left .shade .right_nav a:hover{
	color: #fff;
    background-color: #009a87;
    text-decoration: none;
}
.maintop .left .shade .right_nav  i{
	position: absolute;
	right: 0;
	top:0;
	height: 11px;
	width: 11px;
	background-image: url(../images/un-toolbar.png);	
	margin-top: 5px;
}
.maintop .left .shade .right_nav .hot i{
	background-position: 0 -440px;
}
.maintop .left .shade .right_nav .hot:hover i{
		background-position:-20px -440px;
}
.maintop .left .shade .right_nav .new i{
	background-position: 0 -420px;
}
.maintop .left .shade .right_nav .new:hover i{
		background-position:-20px -420px
}
.maintop .right .yh div{
	position: absolute;
	z-index: 99;
    top: 50px;
    right: -8px;
    padding: 6px 0px;
    background-color: #e9f0fa;
    border: 1px solid #BFBFBF;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    display: none;
}
.maintop .right .yh div::before{
	content: '';
	position: absolute;
	right:30px;
	top:-7px;
	height: 4px;
	width: 7px;
	width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid #DFDFDF;
}
.maintop .right .yh div ul{
	margin:0 10px;
}
.maintop .right .yh div li{
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	margin-left: 0;
	background-color: #e9f0fa;
	text-align: center;
	float: none;
	/*display: inline-block;*/
}
.maintop .right .yh div li a{
	display: block;
    margin: 4px 0px;
    line-height: 22px;
    color: #555;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.maintop .right .yh div li a:hover{
	color: #333;
}
.maintop .right .yh div .logo-out{
   
    position: relative;
    padding-top: 5px;
	border-top: 1px solid #d3d9e2;
	text-align: center;
}
.maintop .right .yh div .logo-out a{
	display: inline-block;
	padding-left: 16px;
	background-position: 2px -316px;
	color: #dd4444;
	font-size: 12px;
	margin-left: 0px;
	background-image: url(../images/ico01.png);
	background-repeat: no-repeat;
}
.maintop .right .yh div .logo-out a:hover{
	color: #dd4444;
}

.maintop .right .msg{position: relative;}
.maintop .right .msg .notice{
	display: block;
    line-height: 12px;
    margin-top: 12px;
    background: #ff9600;
    padding: 3px;
    min-width: 12px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    font-family: Tahoma;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}
.maintop .right .msg .msg_box{
	width: 260px;
	position: absolute;
	top: 50px;
	left:-125px;
	padding: 6px 10px;
	background-color: #FFF;
	border: 1px solid #BFBFBF;
	line-height: 22px;
	color: #555;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
	display: none;
	z-index: 99;
}
.maintop .right .msg .msg_box::before{
	content: '';
	position: absolute;
	right:140px;
	top:-7px;
	height: 4px;
	width: 7px;
	width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid #DFDFDF;
}
.maintop .right .msg .msg_box .more{
	float: right;
	color: #555;
}
.maintop .right .msg .msg_box .more:hover{
	text-decoration: underline;
}
.maintop .right .msg .msg_box .p1{
	text-align: center;
	border-top: 1px solid #F4F4F4;
	color: #000000;
}

.maintop .right .help,.maintop .right .kf{
	padding-left: 18px;
	position: relative;
	background-position: 0 -26px;
	background-image: url(../images/ico01.png);
	background-repeat: no-repeat;
}
.maintop .right .kf{
	background-position:0 -66px;
}

.tou_prize { width:60%; margin:0 auto; line-height:30px; font-size:16px; color:#FF0;}
.tou_prize b { color:#F00;}