.resultbox li p{
	width: 58px;
}
.resultbox li p.p4{
	width: 66px;
}
.mCSB_dragger_bar{
	
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #5f5f5f !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover{
	background-color: #5f5f5f !important;
}
.mCSB_scrollTools .mCSB_draggerRail{
	background: #3a3a3a;
}
.toufootmain{height: auto;}
.choosemain{height: 80px;}


.paybtn a.a1no{
	background-color: #c48700;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c48700), to(#fec500) );
    border-top-color: #be1a44;
    color: #000;
}
.paybtn a.a1no:hover{
	background-color: #ffe600;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdc400), to(#c38600) );
	background-image: -moz-linear-gradient( top, #fdc400, #c38600 );
	background:#ffe600\9;
	border-top-color: #881231;
	color: #000;
}
.paybtn a.a1no2{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background-color: #3b3b3b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#353535) );
	background-image: -moz-linear-gradient( top, #404040, #353535 );
	border: none;
	border-top: 1px solid #6c6c6c;
	border-radius: 3px;
	color: #a8a8a8;
	cursor: pointer;
	vertical-align: middle;
	font-size: 14px;
	margin: 0 2px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	height: auto;
	font-weight: normal;
}
.paybtn a.a1no2:hover{
	background-color: #414141;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e2e), to(#484848) );
	background-image: -moz-linear-gradient( top, #2e2e2e, #484848 );
	background:#414141\9;
	border-top-color: #4d4d4d;	
	color: #a8a8a8;
}

